@use "../../scss/colors";
@use "../../scss/function";

.container-recipes {
  list-style: none;
  width: 1260px;
  min-height: calc(100% - 10px);
  margin-right: auto;
  margin-left: auto;
  padding: 16px 16px 16px 32px;
  // width: 100%;
  margin-bottom: 32px;
  align-items: center;
  // display: flex;
  //   align-items: flex-start;
  //   flex-direction: column;

  @include function.card-style;
}

// !====================================================================
// !
// !        breadcrumbs + header
// !
// !
// !====================================================================

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 100%;

  .header__btn-block {
    display: flex;
    align-items: center;

    .btn-block__help {
      margin-left: 20px;
      margin-right: 20px;
    }
  }


  .MuiButtonBase-root.MuiButtonBase-root.Mui-disabled {
    color: function.rgb-a(colors.$color-03, 20%);
  }


  .MuiBreadcrumbs-li a {
    font-size: 16px;
    color: colors.$color-03;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .MuiBreadcrumbs-separator {
    color: colors.$color-03;
  }

  .MuiBreadcrumbs-li {
    background-color: function.rgb-a(colors.$color-02, 3%);
    padding: 3px 15px;
    border-radius: 15px;
    cursor: pointer;

    svg {
      margin-right: 5px;
      fill: colors.$color-03;
    }
  }

  .MuiBreadcrumbs-li:hover {
    background-color: function.rgb-a(colors.$color-02, 10%);
  }

  .MuiBreadcrumbs-li:hover:last-child {
    background-color: function.rgb-a(colors.$color-02, 3%);
    cursor: default;
  }

  .MuiBreadcrumbs-li:hover a {
    color: colors.$color-02;
  }

  .MuiBreadcrumbs-li:hover a:last-child {
    color: colors.$color-03;
  }

  .MuiBreadcrumbs-ol .MuiBreadcrumbs-li .MuiTypography-root {
    color: colors.$color-02;

    svg {
      margin-right: 5px;
      fill: colors.$color-02;
    }
  }

  .breadcrumb-icon:hover {
    color: colors.$color-02;
  }

  // ----


}



// !===============================================
// !
// !        menu
// !
// !===============================================

.menu-list {
  list-style: none;
  width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 16px 16px 32px;
  width: 100%;
  margin-bottom: 32px;
  align-items: center;
  text-transform: uppercase;
}

.menu-item {
  padding: 5px;
}

.menu-item svg {
  margin-right: 10px;
  fill: colors.$color-03;
}

.menu-item a,
.recipes__menu-item {
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  color: colors.$color-03;
  display: flex;
  align-items: center;
}

.menu-item:hover a,
.menu-item:hover svg {
  color: colors.$color-02;
  fill: colors.$color-02;
}

.menu-item+.menu-item {
  margin-top: 20px;
}

// !====================================================================
// !
// !        items
// !
// !====================================================================
.recipes__menu-item {
  img {
    border-radius: 5px;
    margin-right: 10px;
  }
}

// !====================================================================
// !
// !        item
// !
// !====================================================================

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.ingredients {
  display: flex;
  margin-bottom: 30px;

  .ingredients__img {
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
  }

  div {
    width: 100%;
    padding-left: 40px;

    .ingredients__title {
      margin-bottom: 20px;
      text-align: center;
    }

    li+li {
      margin-top: 15px;
    }

    .item {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      flex-shrink: 0;
      color: colors.$color-03;

      .i-name {
        flex-shrink: 0;
      }

      .bracket-line {
        width: 100%;
        height: 18px;
        border-bottom: 1px dashed function.rgb-a(colors.$color-01, 20%);
        margin-right: 5px;
        margin-left: 5px;
      }

      .i-weight {
        flex-shrink: 0;
      }
    }
  }
}

.step {
  margin-bottom: 32px;

  .step__title {
    margin-bottom: 20px;
    text-align: center;
  }

  .item-step {
    display: flex;

    .item-step__marker {
      margin-right: 16px;
      font-size: 18px;
    }

    .item-step__img {
      margin-right: 20px;
      border-radius: 15px;
    }

    .item-step__discription {
      width: 100%;
      color: colors.$color-03;
    }
  }

  .item-step+.item-step {
    margin-top: 32px;
  }
}

// !===============================================
// !
// !        recipes add
// !
// !===============================================
.container-recipe-add {
  width: 1260px;
  height: calc(100% - 20px);
  margin-right: auto;
  margin-left: auto;
  padding: 16px 16px 16px 32px;

  display: flex;
  align-items: center;
  flex-direction: column;

  @include function.card-style;

  .main-title {
    text-transform: uppercase;
  }

  .overflov {
    overflow: auto;
    padding-right: 200px;
    padding-left: 200px;
  }


  .main-block {
    width: 690px;
    padding: 12px;
    margin-bottom: 24px;

    .main-block__title {
      text-align: center;
      font-size: 18px;
      margin-bottom: 12px;
      text-transform: uppercase;
    }

    .main-block__description {
      display: flex;



      .description__input-block {
        width: 400px;
      }
    }

  }

  .ingredient {
    width: 690px;
    margin-bottom: 24px;

    .ingredient__title {
      text-align: center;
      font-size: 18px;
      margin-bottom: 24px;
      text-transform: uppercase;
    }

    .ingredient__item {
      padding: 12px;

      .item__title {
        padding-bottom: 12px;
        text-transform: uppercase;
      }

      .ingredient-item {
        display: flex;
        align-items: center;

        .MuiButtonBase-root.MuiButtonBase-root.Mui-disabled {
          color: function.rgb-a(colors.$color-03, 30%);
        }

        .MuiButtonBase-root.MuiButtonBase-root {
          color: function.rgb-a(colors.$color-03, 80%);


        }
      }
    }
  }

  .step {
    width: 690px;
    margin-bottom: 12px;


    .step__title {
      text-align: center;
      font-size: 18px;
      margin-bottom: 12px;
      text-transform: uppercase;
    }

    .step__item {
      padding: 12px;

      .item__title {
        padding-bottom: 12px;
        text-transform: uppercase;
      }

      .item__description-bloc {
        display: flex;
        align-items: center;

        .description-blo__input-element {
          display: flex;
          align-items: flex-start;


        }

        .MuiButtonBase-root.MuiButtonBase-root.Mui-disabled {
          color: function.rgb-a(colors.$color-03, 30%);
        }

        .MuiButtonBase-root.MuiButtonBase-root {
          color: function.rgb-a(colors.$color-03, 80%);
        }
      }
    }
  }

  .save-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// !    Modal

.MuiModal-root {
  .MuiBox-root {
    background-color: colors.$color-07;
  }
}

@media screen and (max-width: 720px) {
  .container-recipes {
    padding: 0;
    padding-top: 10px;
    width: 100%;
    min-height: calc(100vh - 90px);





    .ingredients__img {
      width: calc(100% - 20px);
      height: 100%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 16px;
    }
  }

  // ~  Recipes
  .header__btn-block--none>*:not(:first-child) {
    display: none;
  }

  .MuiList-root {
    border-top: none;
    // width: 100%;
  }

  // ~  -----------------------------------------------

  .ingredients {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  .step {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 32px;

    .item-step__img {
      width: 100px;
      height: 100px;
    }
  }

  .header {
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid function.rgb-a(colors.$color-03, 20%);

    .MuiTypography-root {
      margin-right: auto;
    }

    .header__btn-block {
      height: 80px;
    }
  }

  // ~ Add --
  .container-recipe-add {
    width: 100%;
    // min-height: calc(100% - 20px);
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;



    .main-title {}

    .overflov {
      padding: 0;
      overflow: hidden;
      // height: 100%;
    }


    .main-block {
      width: 100%;

      .main-block__title {}

      .main-block__description {

        flex-direction: column;


        .description__input-block {
          margin-top: 12px;
          width: 100%;

          .MuiFormControl-root {
            margin-bottom: 0;
          }
        }
      }

    }

    .ingredient {
      width: 100%;


      .ingredient__title {}

      .ingredient__item {
        border: 1px solid function.rgb-a(colors.$color-03, 10%);
        margin-bottom: 6px;
        border-radius: 15px;

        .MuiFormControl-root {
          width: 100%;
          margin: 0;
          margin-bottom: 12px;
        }


        .item__title {}

        .ingredient-item {
          flex-direction: column;
        }
      }
    }

    .step {
      width: 100%;
      padding: 0;


      .step__title {}

      .step__item {
        border: 1px solid function.rgb-a(colors.$color-03, 10%);
        margin-bottom: 6px;
        border-radius: 15px;

        .item__title {}

        .item__description-bloc {
          flex-direction: column;
          width: 100%;


          .description-blo__input-element {
            flex-direction: column;
            width: 100%;

            .MuiFormControl-root {
              width: 100%;
              margin: 0;
              margin-top: 12px;
            }
          }


        }
      }
    }

    .save-block {}
  }

}

// ------------------------------
// ~ RecipeImg - компонент
.img-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194px;
  height: 194px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid function.rgb-a(colors.$color-03, 23%);

  &:hover {
    border: 1px solid function.rgb-a(colors.$color-03, 100%);
  }

  &:hover>.img-block__btn {
    color: function.rgb-a(colors.$color-02, 100%);
  }



  .img-block__btn {
    position: absolute;
    color: function.rgb-a(colors.$color-03, 50%);
  }

  .img-block__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  .img-block__label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: function.rgb-a(colors.$color-03, 87%);

    &:hover {
      color: function.rgb-a(colors.$color-03, 100%);
    }
  }

  .label__text {
    margin-top: 20px;
    line-height: 1.5;
    text-align: center;
  }

  .img-block__img {
    border-radius: 4px;
  }
}