.container-recipes {
  // background-color: rgba(0, 0, 0, 0.8);
  // padding: 30px;
  // border-radius: 15px;

  list-style: none;

  width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 16px 16px 32px;
  width: 100%;
  margin-bottom: 32px;
  // display: flex;
  align-items: center;
  @include card-style;
}

.menuList {
  list-style: none;

  width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 16px 16px 32px;
  width: 100%;
  margin-bottom: 32px;
  // display: flex;
  align-items: center;
  // @include card-style;
}

.menuItem {
  padding: 5px;
}

.menuItem svg {
  fill: $color-03;
}

.menuItem a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  color: $color-03;
}
.menuItem:hover a,
.menuItem:hover svg {
  color: $color-02;
  fill: $color-02;
  // background-color: rgb-a($color-02, 10%);
}

.menuItem + .menuItem {
  margin-top: 20px;
}

.imgMenu {
  position: absolute;
  right: 0;
  top: 0;
}

// !====================================================================
// !
// !        items
// !
// !====================================================================

.item {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  flex-shrink: 0;
}

.menuList {
  list-style: none;
}

.menuItem {
  text-decoration: none;
  /* font-size: 26px; */
  font-weight: 500;
  color: #1976d2;
}
.bracket-line {
  width: 100%;
  height: 18px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  margin-right: 5px;
  margin-left: 5px;
}

.bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.i-name {
  flex-shrink: 0;
}
.i-weight {
  flex-shrink: 0;
}
h3 {
  color: #c48230;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
.imageStep {
  border-radius: 5px;
}
.itemStep + .itemStep {
  margin-top: 40px;
}
li::marker {
  color: #1976d2;
}

// !====================================================================
// !
// !        item
// !
// !====================================================================

.item {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  flex-shrink: 0;
  color: $color-03;
}

.menu-list {
  list-style: none;
}

.menu-item {
  text-decoration: none;
  /* font-size: 26px; */
  font-weight: 500;
  // color: #1976d2;
}

.bracket-line {
  width: 100%;
  height: 18px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  margin-right: 5px;
  margin-left: 5px;
}

.bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.i-name {
  flex-shrink: 0;
}

.i-weight {
  flex-shrink: 0;
}

h3 {
  color: $color-02;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.image-step {
  border-radius: 5px;
}

.item-step + .item-step {
  margin-top: 40px;
}

li::marker {
  color: $color-02;
}

.images {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

// !====================================================================
// !
// !        breadcrumbs
// !
// !
// !====================================================================

.MuiBreadcrumbs-li a {
  font-size: 16px;
  color: $color-03;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.MuiBreadcrumbs-separator {
  color: $color-03;
}

.MuiBreadcrumbs-li {
  background-color: rgb-a($color-02, 3%);
  padding: 3px 15px;
  border-radius: 15px;
  cursor: pointer;

  svg {
    margin-right: 5px;
    fill: $color-03;
  }
}

.MuiBreadcrumbs-li:hover {
  background-color: rgb-a($color-02, 10%);
}
.MuiBreadcrumbs-li:hover:last-child {
  background-color: rgb-a($color-02, 3%);
  cursor: default;
}

.MuiBreadcrumbs-li:hover a {
  color: $color-02;
}
.MuiBreadcrumbs-li:hover a:last-child {
  color: $color-03;
}

.MuiBreadcrumbs-ol .MuiBreadcrumbs-li .MuiTypography-root {
  color: $color-02;
  svg {
    margin-right: 5px;
    fill: $color-02;
  }
}

.breadcrumb-icon:hover {
  color: $color-02;
}
