:root {
  --muidocs-palette-text-primary: #fff;
}

.player {
  /* margin-left: auto;
  margin-right: auto; */
  border-radius: 15px;
  padding: 10px;
  color: var(--muidocs-palette-text-primary);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 160px;
}

.logoRadio {
  border-radius: 15px;
  width: 128px;
  height: 128px;
}

.selectRadioStation div {
  text-align: center;
  color: var(--muidocs-palette-text-primary);
}

.selectRadioStation div img {
  margin-right: 10px;
  display: none;
}
.selectRadioStation {
  width: 200px;
}
.volume {
  width: 200px;
}

.clock {
  font-family: 'Orbitron', sans-serif;
  width: 60px;
}

@media screen and (max-width: 420px) {
  .player {
    max-width: 380px;
  }

  .player img {
    width: 64px;
    height: 64px;
  }
  .selectRadioStation {
    width: 150px;
  }

  .volume {
    width: 150px;
  }
  .clock {
    display: none;
  }
}
