.main {
  // width: 1380px;
  // height: 98vh;
  display: flex;
  justify-content: space-between;
}

.main__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.main__element {
  display: flex;
}

@media screen and (max-width: 720px) {
  .main {
    width: 100%;
  }
}