.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .about__title {
    font-family: 'Vermin Vibes Redux(RUS BY LYAJK';
    font-size: 72px;
    text-align: center;
    padding: 16px;
    letter-spacing: 10px;
    line-height: 0.5;
    margin-bottom: 32px;
    @include card-style;
  }
}

.block__settings {
  display: flex;

  .settings:first-child {
    margin-right: 16px;
  }

  .settings:nth-child(2) {
    margin-right: 16px;
  }
}

.settings {
  width: 380px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 16px;
  @include card-style;

  .btn {
    .MuiButtonBase-root {
      color: rgb-a($color-03, 60%);

      &.MuiButtonBase-root:hover {
        background-color: rgb-a($color-02, 4%);
      }
      &.MuiButtonBase-root.Mui-checked {
        color: rgb-a($color-03, 100%);
      }
    }
  }

  .item-theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb-a($color-02, 50%);

    .theme__color {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      width: 100px;
      height: 36px;

      .color__item {
        border: 1px solid rgb-a($color-02, 50%);
        width: 16px;
        height: 16px;
        margin: 2px;
        border-radius: 4px;
      }
    }

    .theme__color--scheme-1 {
      .color__item:nth-child(1) {
        background: rgb(255, 255, 255);
      }
      .color__item:nth-child(2) {
        background: rgb(185, 182, 182);
      }
      .color__item:nth-child(3) {
        background: rgb(252, 227, 175);
      }
      .color__item:nth-child(4) {
        background: rgb(145, 225, 70);
      }
      .color__item:nth-child(5) {
        background: rgb(225, 72, 70);
      }
      .color__item:nth-child(6) {
        background: rgb(47, 41, 45);
      }
      .color__item:nth-child(7) {
        background: rgb(39, 33, 33);
      }
      .color__item:nth-child(8) {
        background: rgb(41, 35, 37);
      }
      .color__item:nth-child(9) {
        background: #000000;
      }
      .color__item:nth-child(10) {
        background: rgb(0, 0, 0);
      }
    }

    .theme__color--scheme-2 {
      .color__item:nth-child(1) {
        background: #ffffff;
      }
      .color__item:nth-child(2) {
        background: #e19646;
      }
      .color__item:nth-child(3) {
        background: #fce3af;
      }
      .color__item:nth-child(4) {
        background: #91e146;
      }
      .color__item:nth-child(5) {
        background: #e14846;
      }
      .color__item:nth-child(6) {
        background: #27292d;
      }
      .color__item:nth-child(7) {
        background: #212527;
      }
      .color__item:nth-child(8) {
        background: #000000;
      }
      .color__item:nth-child(9) {
        background: #212325;
      }
      .color__item:nth-child(10) {
        background: #1e1e1e;
      }
    }

    .theme__color--scheme-3 {
      .color__item:nth-child(1) {
        background: #4d4b4a;
      }
      .color__item:nth-child(2) {
        background: rgb(66, 63, 56);
      }
      .color__item:nth-child(3) {
        background: #999999;
      }
      .color__item:nth-child(4) {
        background: #466249;
      }
      .color__item:nth-child(5) {
        background: #c36b72;
      }
      .color__item:nth-child(6) {
        background: rgb(202, 167, 112);
      }
      .color__item:nth-child(7) {
        background: rgb(196, 159, 104);
      }
      .color__item:nth-child(8) {
        background: rgb(205, 168, 114);
      }
      .color__item:nth-child(9) {
        background: rgb(205, 168, 114);
      }
      .color__item:nth-child(10) {
        background: rgb(161, 130, 89);
      }
    }

    .theme__color--scheme-4 {
      .color__item:nth-child(1) {
        background: rgb(77, 75, 74);
      }
      .color__item:nth-child(2) {
        background: rgb(66, 63, 56);
      }
      .color__item:nth-child(3) {
        background: #999999;
      }
      .color__item:nth-child(4) {
        background: #466249;
      }
      .color__item:nth-child(5) {
        background: #c36b72;
      }
      .color__item:nth-child(6) {
        background: rgb(242 242 236);
      }
      .color__item:nth-child(7) {
        background: rgb(236 234 228);
      }
      .color__item:nth-child(8) {
        background: rgb(245 243 238);
      }
      .color__item:nth-child(9) {
        background: rgb(215 213 208);
      }
      .color__item:nth-child(10) {
        background: #cccccc;
      }
    }
  }

  .item-background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb-a($color-02, 50%);

    .item-background-color {
      width: 64px;
      // background-color: $color-07;
      height: 36px;
      border: 1px solid rgb-a($color-02, 50%);
      border-radius: 10px;
    }

    //

    img {
      border: 1px solid rgb-a($color-02, 50%);
      border-radius: 10px;
    }
  }
  .item-background:nth-child(3) .item-background-color {
    background: rgb(39, 33, 33);
  }
  .item-background:nth-child(4) .item-background-color {
    background: rgb(33, 37, 39);
  }
  .item-background:nth-child(5) .item-background-color {
    background: rgb(196, 159, 104);
  }
  .item-background:nth-child(6) .item-background-color {
    background: rgb(236 234 228);
  }
  .item-background:nth-child(7) .item-background-color {
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        rgb(254, 219, 55) 0%,
        rgb(253, 185, 49) 8%,
        rgb(159, 121, 40) 30%,
        rgb(138, 110, 47) 40%,
        transparent 80%
      ),
      radial-gradient(
        ellipse farthest-corner at left top,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 172) 8%,
        rgb(209, 180, 100) 25%,
        rgb(93, 74, 31) 62.5%,
        rgb(93, 74, 31) 100%
      );
  }
  .item-background:nth-child(8) .item-background-color {
    background: linear-gradient(90deg, rgb(62, 77, 74), rgb(126, 72, 161));
  }
  .item-background:nth-child(9) .item-background-color {
    background: linear-gradient(90deg, rgb(72, 92, 100), rgb(68, 76, 84), rgb(52, 60, 60), rgb(24, 36, 44));
  }

  label {
    color: $color-02;
  }
}

.form-auto-chenge-theme {
  margin-top: 32px !important;
}

.settings--walpaper {
  width: 1568px;
  position: relative;
  .logo {
    width: 250px;
    position: absolute;
    // background-color: #91e146;
    top: 500px;
    right: 70px;

    img {
      width: 250px;
    }
  }

  .wallpaper-collection {
    display: flex;

    .wallpaper-collection__item {
      width: calc(100% / 3);
      padding: 16px;
      margin-right: 16px;
    }
  }
}

@media screen and (max-width: 720px) {
  .settings--walpaper {
    width: 380px;
    .wallpaper-collection {
      display: flex;
      flex-direction: column;

      .wallpaper-collection__item {
        // width: calc(100% / 3);
        width: 100%;
        padding: 16px;
      }
    }
  }

  .block__settings {
    display: block;

    .settings:first-child {
      margin-right: 0px;
    }

    .settings:nth-child(2) {
      margin-right: 0px;
    }
  }
}
