@use "../../scss/colors";
@use "../../scss/function";

form {
  display: flex;
  align-items: center;
}

.converter-block {
  padding: 24px;
  width: 100%;
  max-width: 560px;
  margin: 0;
  // background: #121214;
  // border: 1px solid #1f1f22;
  border-radius: 14px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // flex: 1 1 480px;
  @include function.card-style;

  .text-field-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .MuiFormControl-root.MuiTextField-root {
      width: 200px;
    }
  }

  .currency-btn-revert {
    color: colors.$color-03;
  }

  .currency-select {
    width: 200px;
  }
}

@media screen and (max-width: 720px) {
  .converter-block {
    // @include function.card-style;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    margin: 0px;
    margin-bottom: 10px;
  }

  #cur1 {
    margin-right: 0px;
  }

  .text-field-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}