.weather {
  .btn-ico {
    color: $color-1;
  }

  .weather__day {
    background: $color-background-5;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    fill: $color-1;
  }

  #city-label {
    color: $color-2 !important;
  }

  .weather__day > div {
    width: calc(100% / 3);
  }

  .blockDayLeft img {
    height: 80%;
  }

  .blockDayLeft p {
    margin: 0;
  }

  .blockDayCentr {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .blockDayRight {
    display: flex;
    justify-content: space-around;
  }

  .blockDayRight svg {
    fill: $color-1;
  }

  .blockDayLeft div {
    height: 150px;
    display: flex;
    align-items: center;
  }

  .blockDayLeft div p {
    font-size: 48px;
    margin: 0;
  }

  /** // !!!!! DAY  !!!!!!!!! */
  /* ** Стили для текущего дня */

  .conditionBlockItem {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .conditionBlockItem svg {
    margin-right: 10px;
  }

  /** // !!!!! DAYS  !!!!!!!!! */
  /* ** Стили на 14 дней */

  .spinner {
    height: 67vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .daysBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dayCard div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .dayCard div p {
    font-size: 48px;
    margin: 0;
    padding: 0;
  }

  .dayCard {
    display: block;
    width: calc((100% - 48px) / 7);
    height: 250px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 5px;
    background: $color-background-5;
  }
  .dayCard--on {
    position: relative;
  }
  .dayCard--on::before {
    content: '';
    background: $color-background-1-50;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    top: 0;
    left: 0;
  }

  #cor1,
  #cor2 {
    text-align: right;
  }

  .btn-radio {
    display: block;
    width: 50px;
    border: none;
    color: $color-3;
    text-shadow: 0 0 15px $color-2-shadow;
    font-size: 26px;
    text-align: center;
  }

  .btn-block {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  /* Отключает стрелочки у input type=number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .chart {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .chart tspan {
    fill: $color-2;
  }
}
@media screen and (max-width: 720px) {
  .weather {
    .dayCard {
      width: 100%;
    }
    .weather__day {
      flex-direction: column;
    }

    .weather__day > div {
      width: 100%;
    }

    .blockDayRight {
      display: flex;
      justify-content: space-around;
      width: calc(100% - 10px);
    }
  }
}
