.blockDay {
  // background: linear-gradient(#191b1d 0%, #212527 100%);
  background: $color-background-5;
  padding: 20px;
  // box-shadow: inset 0 1px 2px 1px rgba(255, 255, 255, 0.1),
  //   /* Shine */ inset 0 -4px 2px -3px rgba(255, 255, 255, 0.1),
  //   /* Bot. shine */ 0 -1px 6px 4px #1b1d1f,
  //   /* Blurred border */ 2px 2px 0 5px #1b1d1f,
  //   /* Border right */ -2px 2px 0 5px #1b1d1f,
  //   /* Border left */ 0 0 0 7px #141516,
  //   /* Border shadow */ 0 1px 0 7px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  fill: aliceblue;
}

#city-label {
  color: #e19646 !important;
}

.blockDay > div {
  width: calc(100% / 3);
}

.blockDayLeft img {
  height: 80%;
}

.blockDayLeft p {
  margin: 0;
}

.blockDayCentr {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.blockDayRight {
  display: flex;
  justify-content: space-around;
}

.blockDayRight svg {
  fill: #fce3af;
}

.blockDayLeft div {
  height: 150px;
  display: flex;
  align-items: center;
}

.blockDayLeft div p {
  font-size: 48px;
  margin: 0;
}

/** // !!!!! DAY  !!!!!!!!! */
/* ** Стили для текущего дня */

.conditionBlockItem {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

.conditionBlockItem svg {
  margin-right: 10px;
}
/* ************ */

/** // !!!!! DAYS  !!!!!!!!! */
/* ** Стили на 14 дней */

.spinner {
  height: 67vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.daysBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dayCard div {
  display: flex;

  justify-content: flex-end;
  width: 100%;
  height: 70px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.dayCard div p {
  font-size: 48px;
  margin: 0;
  padding: 0;
  /* text-align: right; */
}

.dayCard {
  display: block;
  width: calc((100% - 48px) / 7);
  height: 250px;
  // background: linear-gradient(#191b1d 0%, #212527 100%);
  background: $color-background-5;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 5px;
}

#cor1,
#cor2 {
  text-align: right;
}

/* Отключает стрелочки у input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.chart {
  margin-top: 20px;
  margin-bottom: 30px;
}

.chart tspan {
  fill: #e19646;
}

@media screen and (max-width: 720px) {
  .dayCard {
    width: 100%;
  }
  .blockDay {
    flex-direction: column;
    /* width: 100%; */
  }

  .blockDay > div {
    width: 100%;
  }

  .blockDayRight {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 10px);
  }
}
