.blockDay {
  background: rgba(255, 255, 255, 0.15);
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.blockDay > div {
  /* border: 1px red solid; */
  /* display: block; */
  width: calc(100% / 3);
}

.blockDayLeft {
}

.blockDayLeft p {
  margin: 0;
}

.blockDayCentr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blockDayRight {
  display: flex;
  justify-content: space-around;
}

.blockDayLeft div {
  display: flex;
  align-items: center;
}

.blockDayLeft div p {
  font-size: 48px;
  margin: 0;
}

/** // !!!!! DAY  !!!!!!!!! */
/* ** Стили для текущего дня */
/* .dayList {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px;
  padding-top: 20px;
  font-size: 18px;
}

.location {
  display: flex;
  align-items: baseline;
}

.locationLine {
  content: '';
  height: 2px;
  color: red;
  display: block;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 128, 82, 1) 0%,
    rgba(255, 128, 82, 0) 100%
  );
}

.buttonLocation {
  background: transparent;
  border: none;
  cursor: pointer;
} */

/* ?  Стили для input поиска города */
/* .inputbox {
  position: relative;
  width: 300px;
}

.city {
  position: relative;
  width: 100%;
  padding: 15px 10px 15px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: var(--font-color);
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.citySpan {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
} */

/* .city:valid ~ .citySpan,
.city:focus ~ .citySpan {
  transform: translateX(-10px) translateY(-34px);
  font-size: 14px;
  font-weight: 400;
} */

/* .inputbox_i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.city:valid ~ .inputbox_i,
.city:focus ~ .inputbox_i {
  height: 44px;
} */

/* .buttonSearch {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.conditionText {
  text-align: right;
  margin-bottom: 0;
}

.condition {
  display: flex;
  font-size: 84px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.condition div p {
  font-size: 18px;
}

.condition img {
  width: 160px;
  height: 160px;
}

.conditionBlockLeft {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conditionBlockLeft span {
  margin-bottom: 20px;
}

.conditionBlockSmall {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .conditionBlockSmall p:nth-child(2n + 1) {
  margin-right: 5px;
} */

.conditionBlockItem {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

/* .conditionBlock {
  width: 220px;
  padding-left: 10px;
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
} */

/* .conditionBlock img {
  margin-left: auto;
  display: block;
}

.conditionBlockBottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-right: 20px;
  margin-bottom: 20px;
}

.updateTime {
  font-size: 12px;
} */

/* .monthPrecipitation {
  height: 40px;
  text-align: center;
}

.blockWeatherDetail {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.tabsWeather {
  display: flex;
  position: relative;
  padding: 0px 10px 10px 10px;
  border-radius: 99px;
  width: 1000px;
}

.tabsWeather * {
  z-index: 2;
}

.containerRadioWeather input[type='radio'] {
  display: none;
}

.tabWeather {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: calc(100% / 2);
  font-size: 20px;
  color: var(--font-color);
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  padding-bottom: 3px;
}

.containerRadioWeather input[type='radio']:checked + label {
  color: var(--accent-color-2);
}

.containerRadioWeather input[type='radio']:checked + label > .notification {
  background-color: #185ee0;
  color: var(--accent-color-2);
  margin: 0px;
}

.containerRadioWeather input[id='radio-1-weather']:checked ~ .gliderWeather {
  transform: translateX(0);
}

.containerRadioWeather input[id='radio-2-weather']:checked ~ .gliderWeather {
  transform: translateX(100%);
} */

/* .gliderWeather {
  position: absolute;
  display: flex;
  height: 30px;
  width: calc(100% / 2);
  z-index: 1;
  border-radius: 10px;
  transition: 0.25s ease-out;
  background: #434242;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
} */

/* .panelweatherday {
  width: calc((100% - 40px) / 3);
  height: 100%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin-top: 0px;
  padding-bottom: 10px;
}

#weather-hour {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-between;
}

.icoLocation {
  fill: var(--font-color);
  margin-right: 10px;
}
.icoThermometer {
  margin: 0;
}
svg {
  fill: var(--font-color);
  margin-right: 7px;
}

.hourItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.hourItem {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  width: calc((100% - 100px) / 8);
  margin-right: 0;
  margin: 0;
  margin-bottom: 10px;
  flex-direction: column;
  padding: 5px 10px;
}

.hourItemTemp {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.hourItemTemp {
  font-size: 24px;
}

.firstDay {
  color: aqua;
  display: flex;
  align-items: center;
  margin: 14px;
}

.undefined {
  color: #eb65df;
  display: flex;
  align-items: center;
  margin: 14px;
}

.iconTime {
  fill: currentColor;
} */

/* ************ */
/* #weather-week {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--font-color);
  font-size: 10px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

#weather-week li,
#weather-hour li {
  font-size: 14px;
  list-style: none;
}

.conditionWeek {
  display: flex;
  font-weight: 500;
  justify-content: space-around;
  margin-bottom: 0px;
}

.conditionWeek p {
  font-size: 32px;
}

.conditionWeek img {
  width: 96px;
  height: 96px;
}
.weekFirstItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.weekFirstItem p {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.weekHumidity {
  display: flex;
  align-items: center;
}
.weekHumidity img {
  width: 32px;
  height: 32px;
}

.iconPressure {
  margin-right: 0;
} */

/** // !!!!! DAYS  !!!!!!!!! */
/* ** Стили на 14 дней */

.spinner {
  height: 67vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.daysBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dayCard div {
  display: flex;

  justify-content: flex-end;
  width: 100%;
}

.dayCard div p {
  font-size: 48px;
  margin: 0;
  padding: 0;
  /* text-align: right; */
}

.dayCard {
  display: block;
  width: calc((100% - 48px) / 7);
  /* width: 214px; */
  height: 250px;
  background: rgba(255, 255, 255, 0.15);
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  /* margin: 2px; */
  margin-bottom: 5px;
}

.dayCard + .dayCard {
  /* margin-left: 5px; */
}

#cor1,
#cor2 {
  text-align: right;
}

/* Отключает стрелочки у input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
