.blockDay {
  background: rgba(255, 255, 255, 0.15);
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.blockDay > div {
  /* border: 1px red solid; */
  /* display: block; */
  width: calc(100% / 3);
}

.blockDayLeft {
}

.blockDayLeft p {
  margin: 0;
}

.blockDayCentr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blockDayRight {
  display: flex;
  justify-content: space-around;
}

.blockDayLeft div {
  display: flex;
  align-items: center;
}

.blockDayLeft div p {
  font-size: 48px;
  margin: 0;
}

/** // !!!!! DAY  !!!!!!!!! */
/* ** Стили для текущего дня */

.conditionBlockItem {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

/* ************ */

/** // !!!!! DAYS  !!!!!!!!! */
/* ** Стили на 14 дней */

.spinner {
  height: 67vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.daysBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dayCard div {
  display: flex;

  justify-content: flex-end;
  width: 100%;
}

.dayCard div p {
  font-size: 48px;
  margin: 0;
  padding: 0;
  /* text-align: right; */
}

.dayCard {
  display: block;
  width: calc((100% - 48px) / 7);
  /* width: 214px; */
  height: 250px;
  background: rgba(255, 255, 255, 0.15);
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  /* margin: 2px; */
  margin-bottom: 5px;
}

.dayCard + .dayCard {
  /* margin-left: 5px; */
}

#cor1,
#cor2 {
  text-align: right;
}

/* Отключает стрелочки у input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (max-width: 720px) {
  .dayCard {
    width: 100%;
  }
  .blockDay {
    flex-direction: column;
    /* width: 100%; */
  }

  .blockDay > div {
    /* border: 1px red solid; */
    /* display: block; */
    width: 100%;
  }

  .blockDayRight {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 10px);
  }
}
