@use "../../scss/colors";
@use "../../scss/function";

.clock {
  width: 850px;
  height: 295px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  @include function.card-style;

  .gear {
    width: 5px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    box-shadow: colors.$box-shadow-02;
    z-index: 1;
    transform-style: preserve-3d;
    transform: translateZ(10px);
    perspective: 0;
  }

  .gear:nth-child(2) {
    left: calc(100% - 5px);
  }

  .text,
  .text_bottom,
  .text_top_new {
    font-size: 140px;
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    line-height: 255px;
    text-align: center;
  }
  .text_bottom {
    line-height: 0px;
  }
  .text_top_new {
    backface-visibility: hidden;
  }

  .top,
  .top_new,
  .bottom,
  .bottom_new {
    transition: all 1s ease-in-out;
  }
  .top,
  .top_new {
    position: relative;
    width: 100%;
    height: calc(50% - 15px);
    background: colors.$gradient-01; //8
    color: colors.$color-01;
    text-align: center;
    line-height: 250px;
    border-radius: 5px;
    box-shadow: inset 0 1px function.rgb-a(colors.$color-01, 10%);
  }
  .bottom,
  .bottom_new {
    position: relative;
    width: 100%;
    height: calc(50% - 15px);
    background: colors.$gradient-01; //9
    margin-top: 5px;
    margin-bottom: 10px;
    color: colors.$color-01;
    text-align: center;
    line-height: 250px;
    border-radius: 5px;
    box-shadow: colors.$box-shadow-01;
  }

  .flipper {
    transform-style: preserve-3d;
    width: calc((100% - 60px) / 3);
    height: calc((100% - 20px));
    margin-top: 15px;
  }

  .top_new,
  .bottom_new {
    position: absolute;
    left: 0;
    z-index: 12;
  }

  .top_new {
    top: 0;
    z-index: 1;
  }

  .top_new:before,
  .top_new:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 6px;
    height: 15px;
  }

  .bottom_new {
    position: absolute;
    top: 0;
    height: calc(100% - 0px);
    transform: rotateX(0.5turn);
    z-index: 1;
    opacity: 0;
  }

  .top_new {
    transform-origin: bottom center;
    animation: rotate var(--rotationtime) 1 ease-in-out forwards;
  }

  .bottom_new {
    animation: rotatebottom var(--rotationtime) 1 ease-in-out forwards;
  }
}
@media screen and (max-width: 720px) {
  .block__element {
    display: none;
  }
}
