@use "../../scss/colors";
@use "../../scss/function";

.clock-weather {
  max-width: 800px;
  display: flex;
  padding: 16px;
  height: 236px;
  @include function.card-style;
  background: function.rgb-a(colors.$color-07, var(--transparency));



  // *---------------------------------------------------------------------------
  .block__clock-analog {
    position: relative;
    border-right: 1px solid function.rgb-a(colors.$color-02, 50%);
    margin-right: 16px;

  }

  .clock-analog {
    display: grid;
    // background-color: #1e2022;
    width: 200px;
    height: 200px;
    position: relative;

    // padding-right: 32px;
    margin-right: 16px;
    margin-top: -16px;
    // margin-left: -16px;
  }

  .number:before {
    content: '';
    width: 10%;
    height: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    background-color: colors.$color-02;
    // border: 4px solid #1e2022;
    z-index: 10;
  }

  .number {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    color: colors.$color-02;
    font-size: 40px;
    text-shadow: 5px 5px 20px colors.$color-02;
  }

  .number1 {
    transform: rotateZ(30deg);
  }

  .number2 {
    transform: rotate(60deg);
  }

  .number3 {
    transform: rotate(90deg);
  }

  .number4 {
    transform: rotate(120deg);
  }

  .number5 {
    transform: rotate(150deg);
  }

  .number6 {
    transform: rotate(180deg);
  }

  .number7 {
    transform: rotate(210deg);
  }

  .number8 {
    transform: rotate(240deg);
  }

  .number9 {
    transform: rotate(270deg);
  }

  .number10 {
    transform: rotate(300deg);
  }

  .number11 {
    transform: rotate(330deg);
  }

  .hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom;
  }

  .hour {
    width: 1.5%;
    height: 33%;
    z-index: 1;

    .hour-p1 {
      width: 100%;
      height: 25%;
    }

    .hour-p2 {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-color: colors.$color-02;
      width: 100%;
      height: 56%;
    }

    .hour-p3 {
      width: 100%;
      height: 19%;
    }
  }

  .minute {
    width: 1%;
    height: 33%;
    z-index: 2;

    .minute-p1 {
      width: 100%;
      height: 10%;
    }

    .minute-p2 {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-color: colors.$color-02;
      width: 100%;
      height: 69%;
    }

    .minute-p3 {
      width: 100%;
      height: 21%;
    }
  }

  .second {
    width: 0.5%;
    height: 33%;
    z-index: 3;
    // transition: all 0.06s;
    // transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

    .second-p1 {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-color: colors.$color-03;
      width: 100%;
      height: 80%;
    }
  }

  .clock-analog-text {
    font-size: 16px;
    text-align: center;
    color: function.rgb-a(colors.$color-02, 70%);
    padding-right: 16px;
  }

  // *---------------------------------------------------------------------------
  .clock-weather__block-clock {
    height: 200px;
    width: 500px;
    border-right: 1px solid function.rgb-a(colors.$color-02, 50%);
    padding-right: 16px;
    margin-right: 16px;

    .block-clock__clock {
      display: flex;

      align-items: flex-start;
      font-size: 120px;
      font-family: 'Montserrat';

      div {
        font-family: 'Montserrat';
        font-weight: 600;
        line-height: 1;
      }

      .clock__number {
        // width: 190px;
        text-align: center;
      }

      .clock__second {
        width: 100px;
        text-align: center;
        color: function.rgb-a(colors.$color-02, 50%);
        font-size: 60px;
        font-weight: 400;
        line-height: 1.2;
      }
    }

    .clock__text {
      font-size: 28px;
      color: function.rgb-a(colors.$color-02, 50%);
      font-family: 'Montserrat';
      margin-top: 16px;
    }
  }

  .clock-weather__block-weather {
    display: flex;
    flex-direction: column;
    height: 200px;

    .block-weather__weather {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid function.rgb-a(colors.$color-02, 50%);
      margin-bottom: 16px;

      .weather__img {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
      }

      .weather__value {
        height: 120px;
        font-size: 100px;
        font-weight: 400;
        font-family: 'Montserrat';
      }
    }

    p {
      color: function.rgb-a(colors.$color-02, 70%);
      margin-bottom: 6px;
    }
  }
}

@media screen and (max-width: 720px) {
  .clock-weather {
    width: 100%;
    height: 200px;
    margin-bottom: 16px;

    .clock-weather__block-clock {
      width: 50%;
      height: 100%;
      padding-right: 8px;
      margin-right: 8px;

      .block-clock__clock {
        font-size: 60px;

        .clock__second {
          width: 50px;
          font-size: 30px;
          display: none;
        }
      }

      .clock__text {
        font-size: 18px;
      }
    }

    .clock-weather__block-weather {
      height: 100%;
      width: 50%;

      .block-weather__weather {
        .weather__img {
          width: 60px;
          height: 60px;
          margin-right: 12px;
        }

        .weather__value {
          height: 60px;
          font-size: 50px;
        }
      }

      p {
        font-size: 14px;
      }
    }

    // 
    .clock-analog {
      width: 170px;
      height: 170px;

      .number {
        top: -10%;
        height: 120%
      }
    }
  }
}