.currency-main {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 30px;
  @include card-style;

  .currency-main__title {
    display: flex;
    align-items: center;

    .icon-success {
      color: $color-04;
    }

    .icon-warning {
      color: $color-05;
    }

    h2 {
      width: calc(100% / 3);
      text-align: center;
      font-size: 20px;
      font-family: 'Montserrat Alternates', sans-serif;
    }
  }
  .currency-main__item {
    display: flex;
    align-items: center;

    p {
      width: calc((100% - 40px) / 3);
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      span.arrow--up {
        color: $color-04;
        width: 5px;
        margin-left: 5px;
      }

      span.arrow--dn {
        color: $color-05;
        width: 5px;
        margin-left: 5px;
      }
    }
  }

  @media screen and (min-width: 720px) {
    .currency-main__item {
      display: flex;
      align-items: center;

      p {
        width: calc((100%) / 3);
        text-align: right;

        span {
          font-family: 'Dotf1';
          text-align: right;
        }

        span.arrow--up {
          width: 10px;
          margin-left: 5px;
          margin-right: 25px;
        }

        span.arrow--dn {
          width: 10px;
          margin-left: 5px;
          margin-right: 25px;
        }
      }

      p:nth-child(1) {
        text-align: center;
      }
    }
  }

  [data-tooltip] {
    position: relative; //* Относительное позиционирование */
  }
  [data-tooltip]::after {
    font-size: 14px;
    content: attr(data-tooltip); //* Выводим текст */
    position: absolute; //* Абсолютное позиционирование */
    // width: 50px; //* Ширина подсказки */
    left: 0;
    top: 0; //* Положение подсказки */
    // background: $color-background-6; //* Синий цвет фона */
    color: $color-01; //* Цвет текста */
    padding: 0.5em; //* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgb-a($color-07, 30%); //* Параметры тени */
    pointer-events: none; //* Подсказка */
    opacity: 0; //* Подсказка невидима */
    transition: 1s; //* Время появления подсказки */
    border-radius: 15px;
    z-index: 1;
  }
  [data-tooltip]:hover::after {
    opacity: 1; //* Показываем подсказку */
    top: 2em; //* Положение подсказки */
  }
}
