.graph {
  width: 495px;
  min-height: 281px;
  position: relative;
  margin-right: 7px;
  color: $color-02;
  font-size: 32px;
  overflow: hidden;
  @include card-style;
}

.graph > div {
  position: relative;
}

.graph h1 {
  text-align: center;
  font-size: 26px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid $color-06;
  font-weight: 500;
  font-family: 'Montserrat Alternates', sans-serif;
}

.days {
  margin-top: 20px;
  margin-left: 20px;
  overflow-y: scroll;
  height: 200px;

  .event-item + .event-item {
    margin-top: 15px;
  }

  .event-item {
    margin-left: 20px;
    list-style: circle;
    font-size: 18px;
    vertical-align: bottom;
    fill: $color-02;
    font-family: 'Montserrat Alternates', sans-serif;

    &.event-item--event {
      font-size: 14px;
      color: rgb-a($color-02, 70%);
      margin-top: 5px;
    }
    & span {
      font-size: 14px;
      color: rgb-a($color-02, 70%);
    }
  }
}

@media screen and (max-width: 720px) {
  .graph {
    width: 100%;
  }
}
