.graph {
  width: 495px;
  min-height: 281px;
  background: $color-07;
  position: relative;
  margin-right: 7px;
  color: $color-02;
  text-shadow: 0 0 10px rgb-a($color-02, 50%);
  font-size: 32px;
  border-radius: 15px;
  overflow: hidden;
}

.graph > div {
  position: relative;
}

.graph h1 {
  text-align: center;
  font-size: 26px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid $color-06;
  font-weight: 500;
  font-family: 'Montserrat Alternates', sans-serif;
}

.days {
  margin-top: 20px;
  margin-left: 20px;
  overflow-y: scroll;
  height: 200px;

  .event-item + .event-item {
    margin-top: 15px;
  }

  .event-item {
    margin-left: 20px;
    list-style: circle;
    font-size: 18px;
    vertical-align: bottom;
    fill: $color-02;
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

.days::-webkit-scrollbar {
  width: 10px; /* Ширина всего элемента навигации */
}

.days::-webkit-scrollbar-track {
  background: $color-07; /* Цвет дорожки */
}

.days::-webkit-scrollbar-thumb {
  background-color: $color-02; /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  // border: 3px solid #050c26; /* Оформление границ бегунка */
}
@media screen and (max-width: 720px) {
  .graph {
    width: 100%;
  }
}
