.main {
  height: 80vh;
  display: flex;
  // justify-content: space-between;
  justify-content: space-around;
}

.main__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__element {
  display: flex;
}
