.main {
  width: 1380px;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.main__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__element {
  display: flex;
}