@use "../../scss/colors";
@use "../../scss/function";

.maim-player {
  padding: 10px;
  width: 100%;
  height: 170px;
  color: colors.$color-02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include function.card-style;

  .logoRadio {
    border-radius: 15px;
    width: 128px;
    height: 128px;
    border: 2px solid function.rgb-a(colors.$color-02, 50%);
  }

  .selectRadioStation > div {
    text-align: center;
    color: colors.$color-02;
    border-radius: 15px;
    height: 40px;
    margin-top: 20px;
  }

  .selectRadioStation div img {
    margin-right: 10px;
    display: none;
  }
  .selectRadioStation {
    width: 200px;
  }

  .maim-player__clock-block {
    width: 100%;
    display: flex;
    justify-content: center;

    .clock-block__clock {
      font-family: 'Orbitron', sans-serif;
      width: 60px;
      text-align: center;
      font-size: 26px;
      text-shadow: 0 0 10px function.rgb-a(colors.$color-02, 50%);
    }
  }

  .btn {
    @include function.button;
    & {
      border-radius: 50%;
      padding: 8px;
    }
  }

  @media screen and (max-width: 720px) {
    & .player {
      width: calc(100% - 10px);
      padding: 0;
    }

    & .player img {
      width: 64px;
      height: 64px;
    }
    .selectRadioStation {
      width: 150px;
    }

    .logoRadio {
      width: 96px;
      height: 96px;
    }

    .clock {
      display: none;
    }
  }
}
