.wind-block {
  position: relative;
  width: 80px;
  height: 80px;
  top: -40%;
}

.blades {
  animation: 30s linear 1s normal none infinite running rot;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0%;
  width: 80px;
  height: 80px;
  display: block;
}

.icon-frame {
  fill: $color-1;
}

.frame {
  position: absolute;
  top: 50%;
  left: 0%;
  display: block;

  width: 80px;
  height: 80px;
}
.frame img,
.blades img {
  display: block;
  width: 80px;
  height: 80px;
}

.img-text {
  top: 165%;
  position: absolute;
  display: flex;
  width: 110%;
  align-items: center;
  justify-content: space-evenly;
}
