:root {
  /* --muidocs-palette-text-primary: #fff; */
  --muidocs-palette-text-primary: #e19646;
}

.player {
  /* margin-left: auto;
  margin-right: auto; */
  border-radius: 15px;
  padding: 10px;
  color: var(--muidocs-palette-text-primary);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 160px;
  background: linear-gradient(#191b1d 0%, #212527 100%);
  box-shadow: inset 0 1px 2px 1px rgba(255, 255, 255, 0.1),
    inset 0 -4px 2px -3px rgba(255, 255, 255, 0.1), 0 -1px 6px 4px #1b1d1f,
    2px 2px 0 5px #1b1d1f, -2px 2px 0 5px #1b1d1f, 0 0 0 7px #141516,
    0 1px 0 7px rgba(255, 255, 255, 0.1);
}

.logoRadio {
  border-radius: 15px;
  width: 128px;
  height: 128px;

  box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.15),
    /* Highlight */ 0 0 0 5px #1c1e1f, /* Inner shadow */ 0 0 0 8px #000,
    /* Hole */ 0 20px 20px 5px rgba(0, 0, 0, 0.5),
    /* Shadow */ 0 5px 5px 8px rgba(40, 45, 47, 1),
    /* Border highlight */ 0 0 0 13px #1a1c1e,
    /* Border */ 0 1px 1px 12px rgba(255, 255, 255, 0.5); /* Sharp highlight */
}

.selectRadioStation > div {
  text-align: center;
  color: var(--muidocs-palette-text-primary);
  border-radius: 15px;
  height: 40px;
  margin-top: 20px;

  box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.15),
    /* Highlight */ 0 0 0 5px #1c1e1f, /* Inner shadow */ 0 0 0 8px #000,
    /* Hole */ 0 20px 20px 5px rgba(0, 0, 0, 0.5),
    /* Shadow */ 0 5px 5px 8px rgba(40, 45, 47, 1),
    /* Border highlight */ 0 0 0 13px #1a1c1e,
    /* Border */ 0 1px 1px 12px rgba(255, 255, 255, 0.5); /* Sharp highlight */
}

.selectRadioStation div img {
  margin-right: 10px;
  display: none;
}
.selectRadioStation {
  width: 200px;
}

.list ul {
  background: linear-gradient(#191b1d 0%, #212527 100%) !important;
  /* background: red !important; */
}
/* .volume {
  width: 200px;
} */
.clock_block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.clock {
  font-family: 'Orbitron', sans-serif;

  width: 60px;
  text-align: center;
  font-size: 26px;
  text-shadow: 0 0 10px rgba(225, 150, 70, 0.5);
}

@media screen and (max-width: 720px) {
  .player {
    width: calc(100% - 10px);
    padding: 0;
  }

  .player img {
    width: 64px;
    height: 64px;
  }
  .selectRadioStation {
    width: 150px;
  }

  .volume {
    width: 150px;
  }
  .clock {
    display: none;
  }
}
