@use "../../scss/colors";
@use "../../scss/function";

.chart {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  @include function.card-style;
  margin-bottom: 32px;
}

.chart__header {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 16px;

  & button {
    border-color: function.rgb-a(colors.$color-02, 50%);
  }

  & button:hover {
    border: 1px solid colors.$color-02;
    background-color: function.rgb-a(colors.$color-02, 4%);
    color: colors.$color-02;
  }

  .chart__buttons {
    .header__btn {
      color: colors.$color-03;
    }
    .header__btn--activ {
      color: colors.$color-02;
    }
  }

  .chart__buttons:nth-child(1) {
    margin-right: 16px;
  }

  .chart-title {
    margin-left: auto;
    margin-right: auto;
  }
}

.MuiMarkElement-root {
  fill: colors.$color-03 !important;
}
