.app {
  width: 100%;
  height: 100%;
}

// !  ⇩ start - - Десктопное меню - - - - - - -  ⇩

.app {
  display: flex;
  flex-direction: row;

  .sidebar {
    width: 65px;
    z-index: 1000;

    .MuiListItem-root.activ {
      .MuiListItemIcon-root {
        color: rgb-a($color-02, 54%);
      }

      .MuiListItemText-root {
        .MuiTypography-root {
          color: rgb-a($color-02, 54%);
        }
      }
    }

    .menu-btn {
      height: calc(100vh - 20px);
      width: 80px;
      transform: translateX(-15px);
      padding-left: 15px;
      @include card-style;
      display: block;
      margin: 10px 10px 10px 0px;
      position: fixed;
      padding-top: 16px;
      transition: width 0.25s;
      overflow: hidden;

      .navigation-btn {
        margin: 8px 10px;
        @include button;
        & {
          border: 1px solid transparent;
        }

        &:hover {
          border: 1px solid transparent;
        }
      }

      .radio-station-name {
        display: flex;
        align-items: center;
        transition: width 0.25s;

        img {
          margin-right: 16px;
        }
      }
    }

    &.menu_on {
      width: 250px;

      .menu-btn {
        width: 250px;
      }
    }
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    width: 1450px;
    padding-top: 16px;
  }
}

// !  ⇧ end - - - Десктопное меню - - - - - - -  ⇧
//
// !  ⇩ start - - Мобильное меню  - - - - - - -  ⇩
.MuiDrawer-root {
  .MuiDrawer-content {
    background-color: $color-07;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
      0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 20px 0 0 20px;

    .MuiList-root {
      color: $color-03;
    }

    .MuiList-root {
      color: $color-03;
      .MuiButtonBase-root.activ {
        color: $color-02;
      }
    }
  }
}
.MuiPaper-root.MuiPaper-elevation {
  background-color: $color-07;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  .MuiTypography-root {
    color: var(--color-03);
  }
}

.MuiButtonBase-root.MuiButtonBase-root {
  @include button;
  &,
  &:hover {
    border: none;
  }
}

// !  ⇧ - - - - - - -   ⇧

@media screen and (max-width: 720px) {
  .app {
    flex-direction: column;
    padding: 0px 0px;

    .content {
      padding: 64px 10px 16px 10px;
      margin: 0;
      width: 100%;
    }
    .main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
