@use "../../scss/colors";
@use "../../scss/function";

// * *** Страница CurrencyMono  ***  */

.secton-zvr {
  margin-top: 32px;
  width: 1260px;
  padding-bottom: 64px;

  .table__table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    color: colors.$color-02;

    .table-header__title {
      display: flex;
      flex-direction: column;
    }
  }
}

.secton-nbu {
  margin-top: 32px;
  width: 1260px;
}

.secton-mono {
  margin-top: 32px;
  width: 1260px;
}

.name-section {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 32px;
  padding-left: 16px;
  padding: 16px;
  @include function.card-style;

  .load-btn {
    @include function.button;
  }

  .name-section__title {
    // justify-content: center;
    margin: 0 0 0 32px;
  }
}

.name-section:first-child {
  margin-top: 0;
}

.name-section h2 {
  margin-right: 10px;
  margin-left: 10px;
}

.currencyBTN {
  display: flex;
  align-items: center;
}

// * *  ------------------------  * */
.tables {
  display: flex;
  justify-content: space-between;
}

.table {
  max-width: 614px;
}

.table-name {
  display: flex;
  align-items: center;
  padding: 10px;

  .bank-img {
    z-index: 2;
    background: white;
    display: block;
    border-radius: 15px;
    padding: 5px;
    margin-right: 16px;
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & img {
    display: block;
  }
}

.update-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
}

.update-time {
  color: function.rgb-a(colors.$color-02, 50%);
  font-size: 12px;
  padding-top: 4px;
}

// *  date picker - - - - --  - - - -

.date-picker {
  width: 180px;
}

// *----------------

.icon-success {
  color: colors.$color-04;
}

.icon-warning {
  color: colors.$color-05;
}

@media screen and (max-width: 720px) {
  .secton-zvr {
    width: 100%;
  }

  .secton-nbu {
    width: 100%;
  }

  .secton-mono {
    margin-top: 0;
    width: 100%;
  }

  .tables {
    flex-direction: column;
  }

  .table {
    margin-bottom: 10px;
  }

  .currencyBTN {
    justify-content: space-around;
  }

  .currency-select {
    width: calc((100% - 60px) / 2);
  }

  .textField {
    width: calc((100% - 20px) / 2);
  }

  // *-------------------------------
  .name-section {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 16px;
    position: relative;
    background-color: colors.$color-07;
    padding: 8px 8px 8px 16px;

    .load-btn {
      font-size: 10px;
      min-width: 100px;
    }
  }

  .name-section h2 {
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px;
  }

  .update-block {
    text-align: center;
  }
}