// * *** Страница CurrencyMono  ***  */

.nameSection {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 32px;
  padding-left: 16px;
}
.nameSection h2 {
  margin-right: 10px;
  margin-left: 10px;
}
.load-btn {
  &.MuiButton-root,
  &.MuiButton-root:hover {
    color: $color-3;
    fill: $color-3;
    border-color: $color-3;

    &.Mui-disabled {
      color: $color-2-shadow;
      border: 1px solid $color-2-shadow;
    }
  }
  &.MuiButton-root:hover {
    border: 1px solid $color-2;
  }
}

.currencyBTN {
  display: flex;
  align-items: center;
}

// .currency-select {
//   width: 200px;
// }

// * *  ------------------------  * */
.tables {
  display: flex;
  justify-content: space-between;
}

.table {
  max-width: 700px;
}

.tableName {
  display: flex;
  align-items: center;
  padding: 10px;
}

.tableName img {
  margin-right: 15px;
}

.MuiTableCell-head {
  background-color: $color-background-10 !important;
  color: $color-2 !important;
}

.MuiPaper-root {
  border-radius: 15px !important;
}
.update-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
}
.update-time {
  color: $color-2-shadow;
  font-size: 12px;
  padding-top: 4px;
}
// *  date picker - - - - --  - - - -

.MuiFormLabel-root {
  color: $color-2 !important;
  // border: ;
}
.date-picker {
  width: 180px;
  .MuiSvgIcon-root {
    fill: $color-3 !important;
  }
}

.MuiOutlinedInput-notchedOutline {
  border-color: $color-2 !important;
}
// ---

// *----------------

@media screen and (max-width: 720px) {
  .tables {
    flex-direction: column;
  }
  .table {
    margin-bottom: 10px;
  }
  .currencyBTN {
    justify-content: space-around;
  }
  .currency-select {
    width: calc((100% - 60px) / 2);
  }

  .textField {
    width: calc((100% - 20px) / 2);
  }
}
