.MuiInputBase-input,
.MuiFormControl-root {
  color: $color-2 !important;
  border-color: $color-3 !important;
}

// #demo-simple-select-standard,
// #demo-simple-select-filled {
// //   fill: $color-2 !important;
// }

#demo-simple-select-standard-label,
#demo-simple-select-filled-label {
  color: $color-2 !important;
}

#cur1 {
  margin-right: 32px;
}

#cur1,
#cor2 {
  // color: aliceblue !important;
  //   border-bottom: 1px solid rgb(241, 144, 16) !important;
  background: $color-background-1;
  border-radius: 15px;
  padding: 10px;
  color: $color-2 !important;
}

.converter-block {
  //   box-shadow: $box-shadow-1;
  background: $color-background-5;
  padding: 30px;
  width: 500px;
  border-radius: 15px;
  margin: 20px;
}

@media screen and (max-width: 720px) {
  .converter-block {
    //   box-shadow: $box-shadow-1;
    background: $color-background-5;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    margin: 0px;
    margin-bottom: 10px;
  }
  #cur1 {
    margin-right: 0px;
  }
}
