.MuiInputBase-input,
.MuiFormControl-root {
  color: $color-2 !important;
  border-color: $color-3 !important;
}

form {
  display: flex;
  align-items: center;
}

#demo-simple-select-standard-label,
#demo-simple-select-filled-label {
  color: $color-2 !important;
}

#cur1 {
  // margin-right: 32px;
}

#cur1,
#cor2 {
  background: $color-background-1;
  border-radius: 15px;
  padding: 10px;
  color: $color-2 !important;
}

.converter-block {
  background: $color-background-5;
  padding: 30px;
  width: 500px;
  border-radius: 15px;
  margin: 20px;
  .text-field-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .text-field {
      .MuiInputBase-input::-webkit-outer-spin-button,
      .MuiInputBase-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .MuiInputBase-root.MuiInput-root::after {
        border-bottom: 2px solid $color-2-shadow;
        left: 12px;

        right: 12px;
      }

      .MuiInput-root::before {
        left: 12px;
        right: 12px;
        border-bottom: 1px solid $color-3;
      }
    }
  }

  .currency-btn-revert {
    color: $color-3;
  }
  .MuiInputBase-root:hover:not(.Mui-disabled, .Mui-error):before {
    border-bottom: 1px solid $color-2-shadow;
  }
  .currency-select {
    width: 200px;
    .MuiSvgIcon-root {
      color: $color-3;
    }

    .MuiFilledInput-root:before {
      border-bottom: 1px solid $color-3;
    }
    .MuiInputBase-root::after {
      border-bottom: 2px solid $color-2-shadow;
    }
  }
}

.MuiPopover-paper.MuiMenu-paper {
  background-color: $color-background-1;
  color: $color-2;
}

@media screen and (max-width: 720px) {
  .converter-block {
    background: $color-background-5;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    margin: 0px;
    margin-bottom: 10px;
  }
  #cur1 {
    margin-right: 0px;
  }
  .text-field-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}
