@use "../../scss/colors";
@use "../../scss/function";

form {
  display: flex;
  align-items: center;
}

.converter-block {
  padding: 30px;
  width: 500px;
  margin: 20px;
  @include function.card-style;

  .text-field-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .MuiFormControl-root.MuiTextField-root {
      width: 200px;
    }
  }

  .currency-btn-revert {
    color: colors.$color-03;
  }

  .currency-select {
    width: 200px;
  }
}

@media screen and (max-width: 720px) {
  .converter-block {
    background: colors.$color-07;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    margin: 0px;
    margin-bottom: 10px;
  }
  #cur1 {
    margin-right: 0px;
  }
  .text-field-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}
