// * *** Страница CurrencyMono  ***  */

.nameSection {
  display: flex;
  align-items: center;
}
.nameSection h2 {
  margin-right: 10px;
}

.currencyBTN {
  display: flex;
  align-items: center;
}

.currencyBtnSelect {
  width: 200px;
}

// * *  ------------------------  * */
.tables {
  display: flex;
  justify-content: space-between;
}

.table {
  max-width: 700px;
}

.tableName {
  display: flex;
  align-items: center;
  padding: 10px;
}

.tableName img {
  margin-right: 15px;
}

.MuiTableCell-head {
  background-color: $color-background-10 !important;
  color: $color-2 !important;
}

.MuiPaper-root {
  border-radius: 15px !important;
}

@media screen and (max-width: 720px) {
  .tables {
    flex-direction: column;
  }
  .table {
    margin-bottom: 10px;
  }
  .currencyBTN {
    justify-content: space-around;
  }
  .currencyBtnSelect {
    width: calc((100% - 60px) / 2);
  }
  .textFieldBlock {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .textField {
    width: calc((100% - 20px) / 2);
  }
}
