/* *** Страница CurrencyMono  ***  */

.nameSection {
  display: flex;
  align-items: center;
}

.currencyBTN {
  display: flex;
  align-items: center;
}

.currencyBtnSelect {
  width: 200px;
}

/* *  ------------------------  * */
.tables {
  display: flex;
  justify-content: space-between;
}

.table {
  max-width: 700px;
  /* margin-left: 20px; */
}

.tableName {
  display: flex;
  align-items: center;
}

.tableName img {
  margin-right: 15px;
}

.textField {
  color: brown !important;
}

@media screen and (max-width: 720px) {
  .tables {
    flex-direction: column;
  }
  .table {
    margin-bottom: 10px;
  }
  .currencyBTN {
    justify-content: space-around;
  }
  .currencyBtnSelect {
    /* width: 100px !important; */
    width: calc((100% - 60px) / 2);
  }
  .textFieldBlock {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .textField {
    width: calc((100% - 20px) / 2);
  }
}
