@use "../../scss/colors";
@use "../../scss/function";

.container-news {
  width: 1260px;
  height: calc(100% - 10px);
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include function.card-style;

  .news-list {
    overflow: auto;
    height: calc(100% - 110px);
  }

  .MuiPaper-root {
    margin-bottom: 10px;
  }

  .block-lang-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }



  .MuiToggleButtonGroup-root {
    .MuiButtonBase-root.MuiButtonBase-root {
      color: colors.$color-02;
    }

    .MuiToggleButton-root.Mui-selected {
      color: colors.$color-03;
    }
  }

  .category {
    overflow: auto;
    width: 700px;
  }

  li+li {
    margin-top: 32px;
  }

  li {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 16px;
    @include function.card-style;

    div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;

      .source {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 12px;

        .source__img {
          margin-right: 6px;
        }

        .sourcce__title {
          padding-inline-start: 2px;
          font-size: 12px;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          flex-shrink: 9999;
        }

        .source__date {
          font-size: 12px;
        }
      }
    }

    .image-block {
      max-width: 232px;

      .image-block__img {
        border-radius: 15px;
        width: 100%;
      }
    }
  }

  li a {
    text-decoration: none;
    color: colors.$color-03;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.0125rem;
    line-height: 28px;
    overflow: hidden;
    display: -webkit-box;
    margin-bottom: 22px;
  }

  .MuiInputBase-input {
    color: colors.$color-03;
  }

  .MuiToolbar-root {
    .MuiTablePagination-selectLabel {
      display: none;
    }

    .MuiInputBase-root {
      display: none;
    }

    .MuiTablePagination-displayedRows {
      color: colors.$color-03;
    }
  }
}

@media screen and (max-width: 720px) {
  .container-news {
    height: 100%;
    padding: 6px;
    padding-top: 20px;
    padding-bottom: 20px;


    .news-list {
      overflow: hidden;
    }

    .block-lang-pagination {
      flex-direction: column;
      width: 100%;
    }

    .category {
      overflow: auto;
      width: 100%;
    }

    li {
      width: 100%;
    }
  }
}