.container-news {
  height: calc(100% - 10px);
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include card-style;

  .news-list {
    overflow: auto;
    height: calc(100% - 110px);
  }

  .MuiPaper-root {
    margin-bottom: 10px;
  }
  .block-lang-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .MuiStack-root {
  //   width: 50%;
  // }
  // .MuiToolbar-root {
  //   width: 50%;
  // }

  .MuiToggleButtonGroup-root {
    .MuiButtonBase-root.MuiButtonBase-root {
      color: $color-02;
    }

    .MuiToggleButton-root.Mui-selected {
      color: $color-03;
    }
  }

  li + li {
    margin-top: 32px;
  }

  li {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 16px;
    @include card-style;

    div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;

      .source {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 12px;

        .source__img {
          margin-right: 6px;
        }

        .sourcce__title {
          padding-inline-start: 2px;
          font-size: 12px;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          flex-shrink: 9999;
        }

        .source__date {
          font-size: 12px;
        }
      }
    }

    .image-block {
      max-width: 232px;
      // max-height: ;

      .image-block__img {
        border-radius: 15px;
        width: 100%;
        // height: 100%;
      }
    }
  }

  li a {
    text-decoration: none;
    color: $color-03;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.0125rem;
    line-height: 28px;
    overflow: hidden;
    display: -webkit-box;
    // -webkit-line-clamp: 4;
    // -webkit-box-orient: vertical;
    margin-bottom: 22px;
  }

  .MuiInputBase-input {
    color: $color-03;
  }

  .MuiToolbar-root {
    .MuiTablePagination-selectLabel {
      display: none;
    }
    .MuiInputBase-root {
      display: none;
    }
    .MuiTablePagination-displayedRows {
      color: $color-03;
    }
    .MuiButtonBase-root:nth-child(1) {
      display: none;
    }
  }
}
