@use 'scss/colors';
@use 'scss/walpaper';
@use 'scss/fonts';
@use 'scss/function';

@use 'scss/common-style';

@use 'components/app';

@use 'components/Main/xmas';
@use 'components/Main/main';
@use 'components/Main/currency';
@use 'components/Main/event';
@use 'components/Main/radio';
@use 'components/Main/clock';
@use 'components/Main/clockDigital';
@use 'components/Main/compas';
@use 'components/Main/weather-dashboard';
@use 'components/Main/wind-gust';

@use 'components/Currency/currency' as currency2;
@use 'components/Currency/currency-mono';

@use 'components/Weather/weather';
@use 'components/Weather/air-quality';
@use 'components/Weather/chart-weather';
@use 'components/Weather/tiles';

@use 'components/News/news';

@use 'components/Recipes/recipes';

@use 'components/Info/info';

@use 'Pages/user';
@use 'Pages/login';
@use 'Pages/register';

@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: colors.$color-02;
  transition: background 0.25s;
  background-color: walpaper.$background-color;
  background-image: walpaper.$background-image-1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}