@import 'scss/colors';
@import 'scss/fonts';
@import 'scss/btn';

@import 'components/app';

@import 'components/Main/main';
@import 'components/Main/currency';
@import 'components/Main/event';
@import 'components/Main/radio';
@import 'components/Main/clock';
@import 'components/Main/compas';
@import 'components/Main/weather-dashboard';
@import 'components/Main/wind-gust';

@import 'components/Currency/currency';
@import 'components/Currency/currency-mono';

@import 'components/Weather/weather';
@import 'components/Weather/chart-weather';
@import 'components/Weather/tiles';

@import 'components/Info/info';

@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-background-1;
  color: $color-2;
  transition: background 0.5s;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}
