@import 'scss/colors';
@import 'scss/walpaper';
@import 'scss/fonts';
@import 'scss/function';

@import 'scss/common-style';

@import 'components/app';

@import 'components/Main/main';
@import 'components/Main/currency';
@import 'components/Main/event';
@import 'components/Main/radio';
@import 'components/Main/clock';
@import 'components/Main/compas';
@import 'components/Main/weather-dashboard';
@import 'components/Main/wind-gust';

@import 'components/Currency/currency';
@import 'components/Currency/currency-mono';

@import 'components/Weather/weather';
@import 'components/Weather/air-quality';
@import 'components/Weather/chart-weather';
@import 'components/Weather/tiles';

@import 'components/Info/info';

@import-normalize; /* bring in normalize.css styles */

html {
  background-color: $background-color;
  background-image: $background-image-1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-02;
  transition: background 0.25s;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}
