//* ************************************************* */
//* ************************************************* */
//* * ************************************************ */
//* **************** Плейер ********************************* */

.toggle,
.toggle_on {
  width: 50px;
  height: 50px;
  background: #212325;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 50%;
  box-shadow: $box-shadow-btn-1;
  transition: all 0.3s;
}

.toggle_on {
  box-shadow: $box-shadow-btn-2;
}

.btn_play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn_play p {
  color: $color-3;
  text-shadow: 0 0 15px rgba(225, 150, 70, 0.5);
  font-size: 26px;
  text-align: center;
}

.btn_play svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #fce3af;
}
