//* ************************************************* */
//* ************************************************* */
//* * ************************************************ */
//* **************** Плейер ********************************* */

.toggle,
.toggle_on {
  width: 50px;
  height: 50px;
  background: $color-09;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 50%;
  box-shadow: $box-shadow-btn-1;
  transition: all 0.3s;
}

.toggle_on {
  box-shadow: $box-shadow-btn-2;
}

.btn_play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn_play p {
  color: $color-03;
  text-shadow: 0 0 15px rgb-a($color-02, 50%);
  font-size: 26px;
  text-align: center;
}

.btn_play svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: $color-03;
}

// **********************************************************************************************
:root {
  --rotationtime: 0.55s;
}

@keyframes rotatebottom {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(0) translateY(0px);
  }
  100% {
    transform: rotateX(-180deg) translateY(-10px);
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// *****  A N I M A T I O N  *****

@mixin animation-slider($property) {
  transition-property: $property;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

@mixin animation($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// *****  B U T T O N  *****

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 24px;
  min-width: 62.4px;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  border-radius: 22px;
}

@mixin font($ff, $fs, $fw, $lh, $ls, $fc) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  color: $fc;
}
