//***** C O L O R *****
//
// ?  - - - - - - - - - - - - - T h e m e   0 1 - - - - - - - - - - - - -
//
html[data-theme='dark'] {
  --color-01: rgb(255, 255, 255);
  --color-02: rgb(225, 150, 70);
  --color-03: rgb(252, 227, 175);
  --color-04: rgb(0, 128, 0);
  --color-05: rgb(255, 0, 0);
  --color-06: rgb(39, 41, 45);
  --color-07: rgb(25, 27, 29);
  --color-08: rgb(33, 35, 37);
  --color-09: rgba(60, 60, 60);
  --color-10: rgba(0, 0, 0);
}
//
// ?  - - - - - - - - - - - - - T h e m e   0 2 - - - - - - - - - - - - -
//

html[data-theme='dark-2'] {
  --color-01: rgb(255, 255, 255);
  --color-02: rgb(185, 182, 182);
  --color-03: rgb(252, 227, 175);
  --color-04: rgb(145, 225, 70);
  --color-05: rgb(225, 72, 70);
  --color-06: rgb(47, 41, 45);
  --color-07: rgb(39, 33, 33);
  --color-08: rgb(41, 35, 37);
  --color-09: rgb(0, 0, 0);
  --color-10: rgb(30, 30, 30);
}
//
// ?  - - - - - - - - - - - - - T h e m e   0 3 - - - - - - - - - - - - -
//
html[data-theme='light'] {
  --color-01: rgb(77, 75, 74);
  --color-02: rgb(66, 63, 56);
  --color-03: rgb(95, 94, 95);
  --color-04: rgb(70, 98, 73);
  --color-05: rgb(195, 107, 114);
  --color-06: rgb(202, 167, 112);
  --color-07: rgb(196, 159, 104);
  --color-08: rgb(205, 168, 114);
  --color-09: rgb(205, 168, 114);
  --color-10: rgb(161, 130, 89);
}
//
// ?  - - - - - - - - - - - - - T h e m e   0 4 - - - - - - - - - - - - -
//
html[data-theme='light-2'] {
  --color-01: rgb(77, 75, 74);
  --color-02: rgb(121, 90, 29);
  --color-03: rgb(95, 94, 95);
  --color-04: rgb(70, 98, 73);
  --color-05: rgb(195, 107, 114);
  --color-06: rgb(242 242 236);
  --color-07: rgb(236 234 228);
  --color-08: rgb(245 243 238);
  --color-09: rgb(215 213 208);
  --color-10: rgb(204, 204, 204);
}
//
// ?  - - - - - - - - - - - - - T h e m e   0 0 - - - - - - - - - - - - -
//
html[data-theme='light-3'] {
  --color-01: rgb(95, 94, 95);
  --color-02: rgb(145 144 145);
  --color-03: rgb(242 134 128);
  --color-04: rgb(166 146 56);
  --color-05: rgb(228 157 0);
  --color-06: rgb(142 155 43);
  --color-07: rgb(0 212 0);
  --color-08: rgb(66 160 168);
  --color-09: rgb(123 167 248);
  --color-10: rgb(194 93 205);
  --color-11: rgb(237 137 133);
  --color-12: rgb(218 161 0);
  --color-13: rgb(182 182 0);
  --color-15: rgb(0 197 183);
  --color-17: rgb(212 126 244);
  --color-18: rgb(242 114 206);
}

// *  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * ***
// *  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * ***
// *  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * ***

$color-01: var(--color-01);
$color-02: var(--color-02);
$color-03: var(--color-03);
$color-04: var(--color-04);
$color-05: var(--color-05);
$color-06: var(--color-06);
$color-07: var(--color-07);
$color-08: var(--color-08);
$color-09: var(--color-09);
$color-10: var(--color-10);

$gradient-01: linear-gradient($color-07 0%, $color-08 50%, $color-06 100%);

$box-shadow-01: inset 0 1px rgb(from $color-10 r g b / 10%),
  /* Top shine     */ 0 6px 5px -5px rgb(from $color-10 r g b / 50%),
  /* Shadow 1      */ 0 7px 0 -2px rgb(from $color-08 r g b / 100%),
  /* Flip 1        */ 0 11px 5px -5px rgb(from $color-10 r g b / 50%),
  /* Shadow 2      */ 0 13px 0 -4px rgb(from $color-08 r g b / 70%),
  /* Flip 2        */ 0 16px 5px -5px rgb(from $color-10 r g b / 50%),
  /* Shadow 3      */ 0 20px 0 -8px rgb(from $color-08 r g b / 50%),
  /* Flip 3        */ 0 15px 0 5px rgb(from $color-10 r g b / 100%),
  /* Dark border  */ 0 0 0 5px rgb(from $color-10 r g b / 100%); /* Dark border */

$box-shadow-02: inset 0 -1px rgb(from $color-09 r g b / 40%), inset 0 -3px rgb(from $color-08 r g b / 100%),
  inset 0 -4px rgb(from $color-09 r g b / 50%), inset 0 -6px rgb(from $color-08 r g b / 90%),
  inset 0 -7px rgb(from $color-09 r g b / 60%), inset 0 -9px rgb(from $color-08 r g b / 80%),
  inset 0 -10px rgb(from $color-09 r g b / 70%), inset 0 -12px rgb(from $color-08 r g b / 70%),
  inset 0 -13px rgb(from $color-09 r g b / 80%), inset 0 -15px rgb(from $color-08 r g b / 60%),
  inset 0 -16px rgb(from $color-09 r g b / 90%), inset 0 -18px rgb(from $color-08 r g b / 50%),
  inset 0 -19px rgb(from $color-09 r g b / 100%), inset 0 -21px rgb(from $color-08 r g b / 50%),
  inset 0 -22px rgb(from $color-09 r g b / 100%), inset 0 -24px rgb(from $color-08 r g b / 50%),
  inset 0 -25px rgb(from $color-09 r g b / 90%), inset 0 -27px rgb(from $color-08 r g b / 60%),
  inset 0 -28px rgb(from $color-09 r g b / 80%), inset 0 -30px rgb(from $color-08 r g b / 70%),
  inset 0 -31px rgb(from $color-09 r g b / 70%), inset 0 -33px rgb(from $color-08 r g b / 80%),
  inset 0 -34px rgb(from $color-09 r g b / 60%), inset 0 -36px rgb(from $color-08 r g b / 90%),
  inset 0 -37px rgb(from $color-09 r g b / 50%), inset 0 -39px rgb(from $color-08 r g b / 100%), 0 0 0 2px $color-10;
