//***** C O L O R *****

html[data-theme='dark-2'] {
  --color-01: #ffffff;
  --color-02: #e19646;
  --color-03: #fce3af;
  --color-04: #91e146;
  --color-05: #e14846;
  --color-06: #27292d;
  --color-07: #212527;
  --color-08: #000000;
  --color-09: #212325;
  --color-10: #1e1e1e;
  --color-11: #181818;
  --color-12: #8b9d99;
  // ----------------------------------------------------

  --color-background-9: linear-gradient(#1b1d1f 100%, #242629 50%, #212527 0%);
  --color-background-6: linear-gradient(#191b1d 0%, #212527 100%);

  --box-shadow-btn-1: 0 -5px 5px rgba(255, 255, 255, 0.15), 0 0 0 5px #1c1e1f, 0 0 0 8px #000,
    0 20px 20px 5px rgba(0, 0, 0, 0.5), 0 5px 5px 8px rgba(40, 45, 47, 1), 0 0 0 13px #1a1c1e,
    0 1px 1px 12px rgba(255, 255, 255, 0.5);

  --box-shadow-btn-2: 0 -5px 20px rgba(255, 255, 255, 0.1), 0 0 0 5px #1c1e1f, 0 0 0 8px #000,
    0 5px 5px 8px rgba(40, 45, 47, 1), 0 0 0 13px #1a1c1e;

  --box-shadow-3: inset 0 -1px rgba(60, 60, 60, 0.4), /* Ridge 1 */ inset 0 -3px rgb(25, 25, 25),
    /* Gradient 1 */ inset 0 -4px rgba(60, 60, 60, 0.5), /* Ridge 2 */ inset 0 -6px rgb(30, 30, 30),
    inset 0 -7px rgba(60, 60, 60, 0.6), /* Ridge 3 */ inset 0 -9px rgb(35, 35, 35), inset 0 -10px rgba(60, 60, 60, 0.7),
    /* Ridge 4 */ inset 0 -12px rgb(40, 40, 40), inset 0 -13px rgba(60, 60, 60, 0.8),
    /* Ridge 5 */ inset 0 -15px rgb(45, 45, 45), inset 0 -16px rgba(60, 60, 60, 0.9),
    /* Ridge 6 */ inset 0 -18px rgb(50, 50, 50), inset 0 -19px rgba(60, 60, 60, 1),
    /* Ridge 7 */ inset 0 -21px rgb(50, 50, 50), inset 0 -22px rgba(60, 60, 60, 1),
    /* Ridge 8 */ inset 0 -24px rgb(50, 50, 50), inset 0 -25px rgba(60, 60, 60, 0.9),
    /* Ridge 9 */ inset 0 -27px rgb(45, 45, 45), inset 0 -28px rgba(60, 60, 60, 0.8),
    /* Ridge 10 */ inset 0 -30px rgb(40, 40, 40), inset 0 -31px rgba(60, 60, 60, 0.7),
    /* Ridge 11 */ inset 0 -33px rgb(35, 35, 35), inset 0 -34px rgba(60, 60, 60, 0.6),
    /* Ridge 12 */ inset 0 -36px rgb(30, 30, 30), inset 0 -37px rgba(60, 60, 60, 0.5),
    /* Ridge 13 */ inset 0 -39px rgb(25, 25, 25), 0 0 0 2px #000;

  --box-shadow-4: inset 0 1px rgba(255, 255, 255, 0.1), /* Top shine */ 0 6px 5px -5px rgba(0, 0, 0, 0.5),
    /* Shadow 1 */ 0 7px 0 -2px rgba(30, 30, 30, 1), /* Flip 1 */ 0 11px 5px -5px rgba(0, 0, 0, 0.5),
    /* Shadow 2 */ 0 13px 0 -4px rgba(30, 30, 30, 0.7), /* Flip 2 */ 0 16px 5px -5px rgba(0, 0, 0, 0.5),
    /* Shadow 3 */ 0 20px 0 -8px rgba(30, 30, 30, 0.5), /* Flip 3 */ 0 15px 0 5px #000,
    /* Black border */ 0 0 0 5px #000; /* Black border */
}

html[data-theme='dark'] {
  --color-01: rgb(255, 255, 255);
  --color-02: rgb(225, 150, 70);
  --color-03: rgb(252, 227, 175);
  --color-04: rgb(0, 128, 0);
  --color-05: rgb(255, 0, 0);
  --color-06: rgb(39, 41, 45);
  --color-07: rgb(25, 27, 29);
  --color-08: rgb(33, 37, 39);
  --color-09: rgb(33, 35, 37);
  --color-10: rgb(30, 30, 30);
  --color-11: rgb(24, 24, 24);
  --color-12: rgb(139, 157, 153);

  --color-background-8: linear-gradient(rgb(27, 29, 31) 0%, rgb(36, 38, 41) 50%, rgb(33, 37, 39) 100%);
  --color-background-9: linear-gradient(rgb(27, 29, 31) 100%, rgb(36, 38, 41) 50%, rgb(33, 37, 39) 0%);
  --color-background-6: linear-gradient(#191b1d 0%, #212527 100%);

  --box-shadow-btn-1: 0 -5px 5px rgba(255, 255, 255, 0.15), /* Highlight */ 0 0 0 5px #1c1e1f,
    /* Inner shadow */ 0 0 0 8px #000, /* Hole */ 0 20px 20px 5px rgba(0, 0, 0, 0.5), /* Shadow */ 0 5px 5px 8px #282d2f,
    /* Border highlight */ 0 0 0 13px #1a1c1e, /* Border */ 0 1px 1px 12px rgba(255, 255, 255, 0.5); /* Sharp highlight */

  --box-shadow-btn-2: 0 -5px 20px rgba(255, 255, 255, 0.1), 0 0 0 5px rgb(28, 30, 31), 0 0 0 8px #000,
    0 5px 5px 8px rgba(40, 45, 47, 1), 0 0 0 13px rgb(26, 28, 30);

  --box-shadow-3: inset 0 -1px rgba(60, 60, 60, 0.4), /* Ridge 1 */ inset 0 -3px rgb(25, 25, 25),
    /* Gradient 1 */ inset 0 -4px rgba(60, 60, 60, 0.5), /* Ridge 2 */ inset 0 -6px rgb(30, 30, 30),
    inset 0 -7px rgba(60, 60, 60, 0.6), /* Ridge 3 */ inset 0 -9px rgb(35, 35, 35), inset 0 -10px rgba(60, 60, 60, 0.7),
    /* Ridge 4 */ inset 0 -12px #282828, inset 0 -13px rgba(60, 60, 60, 0.8),
    /* Ridge 5 */ inset 0 -15px rgb(45, 45, 45), inset 0 -16px rgba(60, 60, 60, 0.9),
    /* Ridge 6 */ inset 0 -18px rgb(50, 50, 50), inset 0 -19px rgba(60, 60, 60, 1),
    /* Ridge 7 */ inset 0 -21px rgb(50, 50, 50), inset 0 -22px rgba(60, 60, 60, 1),
    /* Ridge 8 */ inset 0 -24px rgb(50, 50, 50), inset 0 -25px rgba(60, 60, 60, 0.9),
    /* Ridge 9 */ inset 0 -27px #2d2d2d, inset 0 -28px rgba(60, 60, 60, 0.8), /* Ridge 10 */ inset 0 -30px #282828,
    inset 0 -31px rgba(60, 60, 60, 0.7), /* Ridge 11 */ inset 0 -33px #232323, inset 0 -34px rgba(60, 60, 60, 0.6),
    /* Ridge 12 */ inset 0 -36px #1e1e1e, inset 0 -37px rgba(60, 60, 60, 0.5), /* Ridge 13 */ inset 0 -39px #191919,
    0 0 0 2px #000000;

  --box-shadow-4: inset 0 1px rgba(255, 255, 255, 0.1), /* Top shine */ 0 6px 5px -5px rgba(0, 0, 0, 0.5),
    /* Shadow 1 */ 0 7px 0 -2px rgba(30, 30, 30, 1), /* Flip 1 */ 0 11px 5px -5px rgba(0, 0, 0, 0.5),
    /* Shadow 2 */ 0 13px 0 -4px rgba(30, 30, 30, 0.7), /* Flip 2 */ 0 16px 5px -5px rgba(0, 0, 0, 0.5),
    /* Shadow 3 */ 0 20px 0 -8px rgba(30, 30, 30, 0.5), /* Flip 3 */ 0 15px 0 5px #000,
    /* Black border */ 0 0 0 5px #000; /* Black border */
}
html[data-theme='light'] {
  --color-01: #4d4b4a;
  --color-02: #795a1d;
  --color-03: #999999;
  --color-04: #466249;
  --color-05: #c36b72;
  --color-06: #27292d;
  --color-07: #eceae4;
  --color-08: #f1f0ee;
  --color-09: #caa56e;
  --color-10: #c39e67;
  --color-11: #181818;
  --color-12: #8b9d99;

  --color-background-8: linear-gradient(#c49f68 0%, #cda872 50%, #caa770 100%);
  --color-background-9: linear-gradient(#c49f68 100%, #cda872 50%, #caa770 0%);

  --box-shadow-btn-1: 0 -5px 5px rgba(255, 255, 255, 0.15), /* Highlight */ 0 0 0 5px rgb(204, 171, 120),
    /* Inner shadow */ 0 0 0 8px rgb(169, 130, 73), /* Hole */ 0 20px 20px 5px rgba(169, 130, 73, 0.5),
    /* Shadow */ 0 5px 5px 8px rgba(209, 175, 120, 1), /* Border highlight */ 0 0 0 13px rgb(195, 158, 103),
    /* Border */ 0 1px 1px 12px rgba(255, 255, 255, 0.5); /* Sharp highlight */

  --box-shadow-btn-2: 0 -5px 20px rgba(255, 255, 255, 0.1), 0 0 0 5px rgb(197, 160, 104), 0 0 0 8px rgb(169, 130, 73),
    0 5px 5px 8px rgba(209, 175, 120, 1), 0 0 0 13px rgb(195, 158, 103);

  --box-shadow-3: inset 0 -1px rgba(229, 190, 133, 0.4), /* Ridge 1 */ inset 0 -3px rgb(194, 155, 98),
    /* Gradient 1 */ inset 0 -4px rgba(229, 190, 133, 0.5), /* Ridge 2 */ inset 0 -6px rgb(199, 160, 103),
    inset 0 -7px #e5be8599, /* Ridge 3 */ inset 0 -9px rgb(204, 165, 108), inset 0 -10px rgba(229, 190, 133, 0.7),
    /* Ridge 4 */ inset 0 -12px rgb(209, 170, 113), inset 0 -13px rgba(229, 190, 133, 0.8),
    /* Ridge 5 */ inset 0 -15px rgb(214, 175, 118), inset 0 -16px rgba(229, 190, 133, 0.9),
    /* Ridge 6 */ inset 0 -18px rgb(219, 180, 123), inset 0 -19px rgba(229, 190, 133, 1),
    /* Ridge 7 */ inset 0 -21px rgb(219, 180, 123), inset 0 -22px rgba(229, 190, 133, 1),
    /* Ridge 8 */ inset 0 -24px rgb(219, 180, 123), inset 0 -25px rgba(229, 190, 133, 0.9),
    /* Ridge 9 */ inset 0 -27px rgb(214, 175, 118), inset 0 -28px rgba(229, 190, 133, 0.8),
    /* Ridge 10 */ inset 0 -30px rgb(209, 170, 113), inset 0 -31px rgba(229, 190, 133, 0.7),
    /* Ridge 11 */ inset 0 -33px rgb(204, 165, 108), inset 0 -34px rgba(229, 190, 133, 0.6),
    /* Ridge 12 */ inset 0 -36px rgb(199, 160, 103), inset 0 -37px rgba(229, 190, 133, 0.5),
    /* Ridge 13 */ inset 0 -39px rgb(194, 155, 98), 0 0 0 2px rgb(169, 130, 73);

  --box-shadow-4: inset 0 1px rgba(255, 255, 255, 0.1), /* Top shine */ 0 6px 5px -5px rgba(169, 130, 73, 0.5),
    /* Shadow 1 */ 0 7px 0 -2px rgba(199, 160, 103, 1), /* Flip 1 */ 0 11px 5px -5px rgba(169, 130, 73, 0.5),
    /* Shadow 2 */ 0 13px 0 -4px rgba(199, 160, 103, 0.7), /* Flip 2 */ 0 16px 5px -5px rgba(169, 130, 73, 0.5),
    /* Shadow 3 */ 0 20px 0 -8px rgba(199, 160, 103, 0.5), /* Flip 3 */ 0 15px 0 5px rgb(169, 130, 73),
    /* Black border */ 0 0 0 5px rgb(169, 130, 73); /* Black border */
}

// *  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * ***
// *  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * ***
// *  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * ***

$color-01: var(--color-01);
$color-02: var(--color-02);
$color-03: var(--color-03);
$color-04: var(--color-04);
$color-05: var(--color-05);
$color-06: var(--color-06);
$color-07: var(--color-07);
$color-08: var(--color-08);
$color-09: var(--color-09);
$color-10: var(--color-10);
$color-11: var(--color-11);
$color-12: var(--color-12);

$color-background-8: var(--color-background-8);
$color-background-9: var(--color-background-9);

$box-shadow-btn-1: var(--box-shadow-btn-1); /* Sharp highlight */
$box-shadow-btn-2: var(--box-shadow-btn-2);

$box-shadow-3: var(--box-shadow-3);
$box-shadow-4: var(--box-shadow-4);
$box-shadow-6: 0 1px 2px rgba(255, 255, 255, 0.1);

html[data-background='color'] {
  --background-image: $color-background-1;
}
html[data-background='img-1'] {
  --background-image: url(../images/wallpaper/img_1.jpg);
}
html[data-background='img-2'] {
  --background-image: url(../images/wallpaper/img_2.jpg);
}
html[data-background='img-3'] {
  --background-image: url(../images/wallpaper/img_3.jpg);
}
html[data-background='img-4'] {
  --background-image: url(../images/wallpaper/img_4.jpg);
}
html[data-background='img-5'] {
  --background-image: url(../images/wallpaper/img_5.jpg);
}
html[data-background='img-6'] {
  --background-image: url(../images/wallpaper/img_6.jpg);
}
html[data-background='img-7'] {
  --background-image: url(../images/wallpaper/img_7.jpg);
}
html[data-background='img-8'] {
  --background-image: url(../images/wallpaper/img_8.jpg);
}
html[data-background='img-9'] {
  --background-image: url(../images/wallpaper/img_9.jpg);
}
html[data-background='img-10'] {
  --background-image: url(../images/wallpaper/img_10.jpg);
}
html[data-background='img-11'] {
  --background-image: url(../images/wallpaper/img_11.jpg);
}
html[data-background='img-12'] {
  --background-image: url(../images/wallpaper/img_12.jpg);
}
html[data-background='img-13'] {
  --background-image: url(../images/wallpaper/img_13.jpg);
}
html[data-background='img-14'] {
  --background-image: url(../images/wallpaper/img_14.jpg);
}
html[data-background='img-15'] {
  --background-image: url(../images/wallpaper/img_15.jpg);
}
html[data-background='img-16'] {
  --background-image: url(../images/wallpaper/img_16.jpg);
}
html[data-background='img-17'] {
  --background-image: url(../images/wallpaper/img_17.jpg);
}

$background-image-1: var(--background-image);

//  Конвертирует цвета в RGBA
@function rgb-a($color, $alfa: 100%) {
  $rgba: rgb(from $color r g b / $alfa);
  @return $rgba;
}
