@use "colors";
@use "function";

// *  scrollbar - - - - - - - - - - - - - - - - - - - - -

*::-webkit-scrollbar {
  width: 10px;
  /* Ширина всего элемента навигации */
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: colors.$color-07;
  /* Цвет дорожки */
  // border-radius: 20px;
  // margin-top: 4px;
  // margin-bottom: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: colors.$color-02;
  /* Цвет бегунка */
  border-radius: 20px;
  /* Округление бегунка */
  // border: 3px solid #050c26; /* Оформление границ бегунка */
}

// * select  - - - - - - - - - - - - - - - - - - - - -
.MuiFormControl-root {
  .MuiFormLabel-root {
    color: function.rgb-a(colors.$color-03, 60%);

    &.MuiFormLabel-root.Mui-focused {
      color: function.rgb-a(colors.$color-02, 100%);
    }
  }

  .MuiInputBase-root {
    color: function.rgb-a(colors.$color-03, 87%);

    &.MuiInputBase-root::before {
      border-bottom: 1px solid function.rgb-a(colors.$color-03, 42%);
    }

    &.MuiInputBase-root::after {
      border-bottom: 2px solid function.rgb-a(colors.$color-02, 100%);
    }

    .MuiSvgIcon-root {
      color: function.rgb-a(colors.$color-03, 54%);
    }

    &.MuiInputBase-root:hover:not(.Mui-disabled, .Mui-error):before {
      border-bottom: 2px solid function.rgb-a(colors.$color-03, 87%);
    }

    &.MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: colors.$color-03;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: function.rgb-a(colors.$color-03, 23%);
    }

    &.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: function.rgb-a(colors.$color-03, 87%);
    }
  }
}

.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  background-color: colors.$color-07;
  color: colors.$color-03;

  .MuiList-root {
    .MuiButtonBase-root.MuiMenuItem-root.Mui-selected {
      background-color: function.rgb-a(colors.$color-03, 10%);
    }

    .MuiButtonBase-root.MuiMenuItem-root:hover {
      background-color: function.rgb-a(colors.$color-03, 4%);
    }
  }
}

//* calendar   - - - - - - - - - - - - - - - - - - - - -
.base-Popper-root.MuiPickersPopper-root {
  .MuiPaper-root {
    background-color: colors.$color-07;
    color: function.rgb-a(colors.$color-03, 87%);

    .MuiPickersYear-yearButton.Mui-selected {
      background-color: colors.$color-02;
      color: colors.$color-07;
    }

    .MuiPickersYear-yearButton:hover {
      background-color: function.rgb-a(colors.$color-03, 4%);
    }

    .MuiPickersMonth-monthButton.Mui-selected {
      background-color: colors.$color-02;
      color: colors.$color-07;
    }

    .MuiPickersMonth-monthButton:hover {
      background-color: function.rgb-a(colors.$color-03, 4%);
    }

    .MuiPickersMonth-monthButton.Mui-disabled {
      color: function.rgb-a(colors.$color-03, 50%);
    }

    .MuiButtonBase-root {
      color: colors.$color-03;

      &.MuiButtonBase-root:hover {
        background-color: function.rgb-a(colors.$color-03, 4%);
      }
    }
  }
}

// * - - table   - - - - - - - - - - - - - - - - - - - - -
.MuiPaper-root.MuiTableContainer-root {
  @include function.card-style;

  .MuiTable-root {
    border-collapse: inherit;
    border-spacing: 1px;

    .MuiTableHead-root {
      .MuiTableCell-root {
        border-bottom: 1px solid function.rgb-a(colors.$color-02, 50%);
        color: colors.$color-02;
        background-color: colors.$color-07;
        border-radius: 30px 30px 0 0;
      }
    }
  }

  .MuiTableBody-root {
    .MuiTableRow-root {
      background-color: function.rgb-a(colors.$color-09, 30%);

      .MuiTableCell-root {
        color: colors.$color-03;
        border-bottom: 1px solid function.rgb-a(colors.$color-02, 20%);
      }
    }

    .MuiTableRow-root:nth-of-type(odd) {
      background-color: function.rgb-a(colors.$color-09, 50%);

      .MuiTableCell-root {
        color: colors.$color-03;
      }
    }
  }
}

// * - - chart   - - - - - - - - - - - - - - - - - - - - -

// линии на графике
.MuiChartsGrid-root {
  .MuiChartsGrid-line {
    stroke: function.rgb-a(colors.$color-03, 12%);
  }
}

// линия пунктирная на точке
g>.MuiChartsAxisHighlight-root {
  stroke: function.rgb-a(colors.$color-03, 20%);
}

// --- всплывающее окно
.MuiChartsTooltip-root {
  .MuiChartsTooltip-paper {
    background-color: colors.$color-08;
    color: function.rgb-a(colors.$color-03, 87%);

    .MuiChartsTooltip-table {
      & thead td {
        border-bottom: solid function.rgb-a(colors.$color-03, 12%) 1px;
        color: function.rgb-a(colors.$color-03, 60%);
      }
    }

    .MuiChartsTooltip-cell {
      color: function.rgb-a(colors.$color-03, 60%);

      .MuiChartsTooltip-mark {
        border: solid colors.$color-03 2px;
      }
    }

    .MuiChartsTooltip-valueCell {
      color: function.rgb-a(colors.$color-03, 87%);

      .MuiTypography-root {
        color: function.rgb-a(colors.$color-03, 87%);
      }
    }
  }
}

//
// * - - menu   - - - - - - - - - - - - - - - - - - - - -

.MuiList-root {
  border-top: 1px solid function.rgb-a(colors.$color-03, 10%);

  .MuiButtonBase-root:hover {
    background-color: function.rgb-a(colors.$color-03, 4%);
  }

  .MuiListItemIcon-root {
    color: function.rgb-a(colors.$color-03, 54%);
    // .MuiSvgIcon-root {
    // font-size: 36px;
    // }
  }

  .MuiListItemText-root {
    .MuiTypography-root {
      color: function.rgb-a(colors.$color-03, 54%);
    }
  }
}

//
// * - - divider - - - - - - - - - - - - - - - - - - - -
.MuiDivider-root.MuiDivider-fullWidth {
  border-color: function.rgb-a(colors.$color-03, 12%);
}

// 
// * - - Tabs  - - - - - - - - - - - - - - - - - - - - -

.MuiBox-root {
  .MuiButtonBase-root.MuiTab-root.Mui-selected {
    color: colors.$color-02;
  }

  .MuiTabs-indicator {
    background-color: colors.$color-02;
  }

}

// 
// * - - Switch  - - - - - - - - - - - - - - - - - - - - -

.MuiBox-root {
  .MuiSwitch-thumb {
    background-color: colors.$color-03;
  }
}

.MuiButtonBase-root.MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: colors.$color-03;
}

// 
// * - - Slider  - - - - - - - - - - - - - - - - - - - - -

.MuiBox-root {
  .MuiSlider-root {
    color: colors.$color-03;
  }
}

// 
// * - - Button-disabled   - - - - - - - - - - - - - - - -

// button
.MuiButtonBase-root.MuiButton-root.Mui-disabled {
  color: function.rgb-a(colors.$color-03, 26%);
  align-items: center;
  border: none;

}

// 
// * - - Radio-Button   - - - - - - - - - - - - - - - -

.MuiButtonBase-root {
  color: function.rgb-a(colors.$color-03, 60%);

  &.MuiButtonBase-root:hover {
    background-color: function.rgb-a(colors.$color-02, 4%);
  }

  &.MuiButtonBase-root.Mui-checked {
    color: function.rgb-a(colors.$color-03, 100%);
  }
}

// ?--------------------------------------