@font-face {
  font-family: 'Square Dot Digital-7';
  font-style: normal;
  font-weight: 400;
  src: local('SquareDotDigital-7'),
    url(../fonts/square_dot_digital-7.ttf) format('truetype');
}

@font-face {
  font-family: 'Dotf1';
  font-style: normal;
  font-weight: 400;
  src: local('Dotf1'), url(../fonts/dotf1.ttf) format('truetype');
}

@font-face {
  font-family: 'Vermin Vibes Redux(RUS BY LYAJK';
  font-style: normal;
  font-weight: 400;
  src: local('Vermin Vibes Redux(RUS BY LYAJK'),
    url(../fonts/verminvibesreduxrusbylyajk.otf) format('truetype');
}
