:root {
  --rotationtime: 0.55s;
  --transparency: 80%;
}

//  * ⇩ ⇩ ⇩ - - - start - - - F U N C T I O N  *****

//  Конвертирует цвета в RGBA
@function rgb-a($color, $alfa: 100%) {
  $rgba: rgb(from $color r g b / $alfa);
  @return $rgba;
}

//    ⇧ ⇧ ⇧ - - - end - - - - - - - - - - - - - - - - - - - - - - - - -
//  * ⇩ ⇩ ⇩ - - - start - - - A N I M A T I O N  *****

@mixin animation-slider($property) {
  transition-property: $property;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

@mixin animation($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

//    ⇧ ⇧ ⇧ - - - end - - - - - - - - - - - - - - - - - - - - - - - - -
//  * ⇩ ⇩ ⇩ - - - start - - - B U T T O N  *****

@mixin button {
  border: 1px solid rgb-a($color-02, 50%);
  color: $color-03;
  &__icon {
    font-size: 52px;
  }

  &:hover {
    background-color: rgb-a($color-02, 4%);
    border: 1px solid rgb-a($color-02, 100%);
  }
}

//    ⇧ ⇧ ⇧ - - - end - - - - - - - - - - - - - - - - - - - - - - - - -
//  * ⇩ ⇩ ⇩ - - - start - - - F O N T  *****

@mixin font($ff, $fs, $fw, $lh, $ls, $fc) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  color: $fc;
}

//    ⇧ ⇧ ⇧ - - - end - - - - - - - - - - - - - - - - - - - - - - - - -
//  * ⇩ ⇩ ⇩ - - - start - - - B O R D E R  *****

//  @include card-style;
@mixin card-style {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  background: $color-07;
}
//    ⇧ ⇧ ⇧ - - - end - - - - - - - - - - - - - - - - - - - - - - - - -
//  * ⇩ ⇩ ⇩ - - - start - - - ****  * * * * * * * *  *****

@keyframes rotatebottom {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0) translateY(0px);
  }
  100% {
    transform: rotateX(-180deg) translateY(-10px);
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//    ⇧ ⇧ ⇧ - - - end - - - - - - - - - - - - - - - - - - - - - - - - -
