html[data-background='color'] {
  --background-color: rgb(from var(--color-07) r g b / 90%);
}
html[data-background='color-02'] {
  --background-color: rgba(39, 33, 33, 0.9);
}
html[data-background='color-03'] {
  --background-color: rgba(33, 37, 39, 0.9);
}
html[data-background='color-04'] {
  --background-color: rgba(196, 159, 104, 0.9);
}
html[data-background='color-05'] {
  --background-color: rgba(236 234 228, 0.9);
}

html[data-background='color-06'] {
  --background-image: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
html[data-background='color-07'] {
  --background-image: linear-gradient(90deg, #3e4d4a, #7e48a1);
}
html[data-background='color-08'] {
  --background-image: linear-gradient(90deg, #485c64, #444c54, #343c3c, #18242c);
}

// -  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

html[data-background='img-1'] {
  --background-image: url(../images/wallpaper/different/img_1.jpg);
}
html[data-background='img-2'] {
  --background-image: url(../images/wallpaper/different/img_2.jpg);
}
html[data-background='img-3'] {
  --background-image: url(../images/wallpaper/different/img_3.jpg);
}
html[data-background='img-4'] {
  --background-image: url(../images/wallpaper/different/img_4.jpg);
}
html[data-background='img-5'] {
  --background-image: url(../images/wallpaper/different/img_5.jpg);
}
html[data-background='img-6'] {
  --background-image: url(../images/wallpaper/different/img_6.jpg);
}
html[data-background='img-7'] {
  --background-image: url(../images/wallpaper/different/img_7.jpg);
}
html[data-background='img-8'] {
  --background-image: url(../images/wallpaper/different/img_8.jpg);
}
html[data-background='img-9'] {
  --background-image: url(../images/wallpaper/different/img_9.jpg);
}
html[data-background='img-10'] {
  --background-image: url(../images/wallpaper/different/img_10.jpg);
}
html[data-background='img-11'] {
  --background-image: url(../images/wallpaper/different/img_11.jpg);
}
html[data-background='img-12'] {
  --background-image: url(../images/wallpaper/different/img_12.jpg);
}
html[data-background='img-13'] {
  --background-image: url(../images/wallpaper/different/img_13.jpg);
}
html[data-background='img-14'] {
  --background-image: url(../images/wallpaper/different/img_14.jpg);
}
html[data-background='img-15'] {
  --background-image: url(../images/wallpaper/different/img_15.jpg);
}
html[data-background='img-16'] {
  --background-image: url(../images/wallpaper/different/img_16.jpg);
}

html[data-background='holiday-1'] {
  --background-image: url(../images/wallpaper/holiday/img_1.jpg);
}
html[data-background='holiday-2'] {
  --background-image: url(../images/wallpaper/holiday/img_2.jpg);
}
html[data-background='holiday-3'] {
  --background-image: url(../images/wallpaper/holiday/img_3.jpg);
}
html[data-background='holiday-4'] {
  --background-image: url(../images/wallpaper/holiday/img_4.jpg);
}
html[data-background='holiday-5'] {
  --background-image: url(../images/wallpaper/holiday/img_5.jpg);
}
html[data-background='holiday-6'] {
  --background-image: url(../images/wallpaper/holiday/img_6.jpg);
}
html[data-background='holiday-7'] {
  --background-image: url(../images/wallpaper/holiday/img_7.jpg);
}
html[data-background='holiday-8'] {
  --background-image: url(../images/wallpaper/holiday/img_8.jpg);
}
html[data-background='holiday-9'] {
  --background-image: url(../images/wallpaper/holiday/img_9.jpg);
}

$background-image-1: var(--background-image);
$background-color: var(--background-color);
