@use "../../scss/colors";
@use "../../scss/function";

.container-settings {

  .MuiTabPanel-root {
    padding: 0;
  }

  .tab-panel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 24px;

    .settings {
      width: 380px;
      display: flex;
      flex-direction: column;
      padding: 16px;
      margin-bottom: 16px;
      border: 1px solid function.rgb-a(colors.$color-03, 10%);
      border-radius: 15px;

      // ~  Автоизменение темы, цвета темы  -------------------------------------------------------------------

      // ~  Виджеты часов   -----------------------------------------------------------------------------------

      .clock-example-block {
        width: 100%;
        height: 200px;
        margin-bottom: 12px;
        @include function.card-style;
        background-color: function.rgb-a(colors.$color-03, 30%);
        background: no-repeat var(--background-image);
        background-size: 200% 200%;
        background-position: left top;
        border-bottom: 1px solid function.rgb-a(colors.$color-03, 10%);

        .clock-example {
          display: flex;
          justify-content: center;
          align-items: center;
          scale: 0.3;
          width: 340px;
          height: 200px;
        }
      }

      // ~  Значки погоды   -----------------------------------------------------------------------------------

      .weather-settings {
        width: 100%;

        .weather-settings__btn {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          padding-bottom: 12px;
          margin-bottom: 24px;
          border-bottom: 1px solid function.rgb-a(colors.$color-03, 10%);
        }

        .weather-settings__title {
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 12px;
        }

        .weather-img-block {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;

          .weather-img-block__item {
            width: 90px;
            height: 90px;
            padding: 5px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      // ~  Фоновый цвет темы   -------------------------------------------------------------------------------

      .item-background-color {
        width: 64px;
        height: 36px;
        border: 1px solid function.rgb-a(colors.$color-02, 50%);
        border-radius: 10px;
      }

      .item-background:nth-child(3) .item-background-color {
        background: rgb(39, 33, 33);
      }

      .item-background:nth-child(4) .item-background-color {
        background: rgb(33, 37, 39);
      }

      .item-background:nth-child(5) .item-background-color {
        background: rgb(196, 159, 104);
      }

      .item-background:nth-child(6) .item-background-color {
        background: rgb(236 234 228);
      }

      .item-background:nth-child(7) .item-background-color {
        background: radial-gradient(ellipse farthest-corner at right bottom,
            rgb(254, 219, 55) 0%,
            rgb(253, 185, 49) 8%,
            rgb(159, 121, 40) 30%,
            rgb(138, 110, 47) 40%,
            transparent 80%),
          radial-gradient(ellipse farthest-corner at left top,
            rgb(255, 255, 255) 0%,
            rgb(255, 255, 172) 8%,
            rgb(209, 180, 100) 25%,
            rgb(93, 74, 31) 62.5%,
            rgb(93, 74, 31) 100%);
      }

      .item-background:nth-child(8) .item-background-color {
        background: linear-gradient(90deg, rgb(62, 77, 74), rgb(126, 72, 161));
      }

      .item-background:nth-child(9) .item-background-color {
        background: linear-gradient(90deg, rgb(72, 92, 100), rgb(68, 76, 84), rgb(52, 60, 60), rgb(24, 36, 44));
      }

      // ~  Фоновое изображение темы | изображение новогодней темы | изображение хэллоуин темы  -------------

      .item-background {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid function.rgb-a(colors.$color-02, 50%);

        .item-background__img {
          border: 1px solid function.rgb-a(colors.$color-02, 50%);
          border-radius: 10px;
        }
      }

      // ~  Загрузка изображение      -------------------------------------------------------------------------

      .add-background-img {
        .title {
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.4375em;
          letter-spacing: 0.00938em;
          padding: 0;
          position: relative;
          color: function.rgb-a(colors.$color-03, 60%);
        }

        .img-block {
          width: 100%;
          margin-top: 12px;
          margin-bottom: 12px;
        }

        .size-error {
          color: function.rgb-a(colors.$color-05, 60%);
        }

        .size-success {
          color: function.rgb-a(colors.$color-04, 100%);
        }
      }

      .item-background__load {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 36px;
        border: 1px solid function.rgb-a(colors.$color-02, 50%);
        border-radius: 10px;
      }

      .item-background__load-img {
        border: 1px solid function.rgb-a(colors.$color-02, 50%);
        width: 64px;
        height: 36px;
        border-radius: 10px;

        img {
          display: block;
          width: 62px;
          height: 34px;
          border-radius: 10px;
        }
      }

      // ~  Настройки новогодней темы   ---------------------------------------------------------------------

      // ~ --------------------------------------------------------------------------------------------------

      .theme-clock-divider {
        width: 100%;
        margin-top: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid function.rgb-a(colors.$color-03, 10%);
      }

      label {
        color: colors.$color-02;
      }
    }
  }
}


@media screen and (max-width: 720px) {

  .settings--walpaper {
    width: 380px;

    .wallpaper-collection {
      display: flex;
      flex-direction: column;

      .wallpaper-collection__item {
        width: 100%;
        padding: 16px;
      }
    }
  }

  .block__settings {
    display: block;

    .settings:first-child {
      margin-right: 0px;
    }

    .settings:nth-child(2) {
      margin-right: 0px;
    }

    .settings:nth-child(3) {
      margin-right: 0px;
    }
  }

  .tab-panel {

    .clock-mobile {
      display: none;
    }

    .clock-example-block {
      width: 100%;

      .clock-example {
        scale: 0.8;
        width: 100%;
        height: 200px;

        .clock-analog {
          width: 150px;

          .number {
            top: -12%;
            height: 124%
          }
        }
      }
    }
  }
}